<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  	  layout:decorate="~{admin/layout/default_admin}">
	<th:block layout:fragment="customContents">
		<h1 th:text="${contents}">[[${contents}]]</h1>
		<div class="text_box" data-trigger>
			<span class="text"></span>
		</div>
		<a href="/adminFakeLogin"><button type="button" class="btn btn-default">어드민 로그인</button></a>
		<a href="/hubCrewFakeLogin"><button type="button" class="btn btn-default">허브크루 로그인</button></a>

	</th:block>

	<th:block layout:fragment="customJs">
	</th:block>
</html>