<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user_layout/default}">
<th:block layout:fragment="customContents">
<section class="ftco-section">
		<div class="container">
			<div class="row no-gutters ftco-services">
				<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-4 services mb-md-0 mb-4">
						<div>
							<img id="urbanfarm_production_icons" src="/user/images/pin_icon.png">
						</div>
						<div class="media-body">
							<h3 id="urbanfarm_heading">자판기</h3>
							<span id="urbanfarm_boding">자판기 예약하기!</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-4 services mb-md-0 mb-4">
						<div>
	]						<img id="urbanfarm_production_icons" src="/user/images/pin_icon.png">
						</div>
						<div class="media-body">
							<h3 id="urbanfarm_heading">자판기1</h3>
							<span id="urbanfarm_boding">자판기1 예약하기!</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-4 services mb-md-0 mb-4">
						<div>
							<img id="urbanfarm_production_icons" src="/user/images/pin_icon.png">
						</div>
						<div class="media-body">
							<h3 id="urbanfarm_heading">자판기2</h3>
							<span id="urbanfarm_boding">자판기2 예약하기!</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services mb-md-0 mb-4">
						<div>
							<img id="urbanfarm_production_icons_ecoicon" src="/user/images/vending-machine.png">
						</div>
						<div class="media-body">
							<h3 id="urbanfarm_heading">자판기 홈으로 돌아가기</h3>
						</div>
					</div>
				</div>
			</div>
		</div>


    <a th:href="@{'/userVendingMachine/vmSpaceSelect'}">자판기 판매 공간 선택</a>
</th:block>
	<a th:href="@{'/userVendingMachine/vmMachineSelect'}">자판기 선택</a>
</th:block>
<th:block layout:fragment="customJs">
	<script>
		$(document).on('click', '.services', function () {
			$(this).css('background-color', 'skyblue');
		});
	</script>
</html>