<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user_layout/default}">
<th:block layout:fragment="customContents">
	
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<span class="subheading">예약 및 결제 완료</span>
					<h2 class="mb-4">자판기 예약이 완료되었어요!</h2>
					<span class="subheading">예약은 24시간만 유효합니다</span>
					</br>
				</div>
				<div class="col-md-12 ftco-animate">
					<!--
                    오버플로우 가로스크롤 넣을 시 주석 제거 후 바로 밑 div 제거
                    <div class="cart-list">
                    -->
					<div>
						<table class="table">
							<thead class="thead-primary">
							<tr class="text-center">
								<th>&nbsp;</th>
								<th>자판기 공간</th>
								<th>날짜</th>
								<th>시간</th>
								<th>가격</th>
							</tr>
							</thead>
							<tbody>
							<tr class="text-center">
								<td class="image-prod">
									<div>
										<img class="thumb" src="/user/images/v-ending-machine.png">
									</div>
								</td>

								<td class="product-name">
									<h3>자판기 1</h3>
									<p>A 10</p>
								</td>
								<td class="day">12/6</td>
								<td class="time">17:00부터 24시간</td>
								<td class="price">1,000원</td>

								<!-- END TR-->

							</tbody>
						</table>
					</div>
				</div>
				<div class="col-xl-7">
					<div class="row mt-5 pt-3">
						<div class="col-md-12 d-flex mb-5">
							<div class="cart-detail cart-total p-3 p-md-4">
								<h3 class="billing-heading mb-4">예약 허브 정보</h3>
								<p class="d-flex">
									<span>허브</span>
									<span>성북동 허브</span>
								</p>
								<p class="d-flex">
									<span>전화번호</span>
									<span>02-123-5678</span>
								</p>
								<p class="d-flex">
									<span>허브주소</span>
									<span>서울시 성북구 성북동 1길 123-456</span>
								</p>
								<p class="d-flex">
									<span>상세주소</span>
									<span>1층</span>
								</p>
						
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-5">
					<div class="row mt-5 pt-3">
						<div class="col-md-12 d-flex mb-5">
							<div class="cart-detail cart-total p-3 p-md-4">
								<h3 class="billing-heading mb-4">영수증</h3>
								<p class="d-flex">
									<span>금액</span>
									<span>1,000원</span>
								</p>
								<p class="d-flex">
									<span>할인금액</span>
									<span>0원</span>
								</p>
								<p class="d-flex">
									<span>사용한 쿠폰</span>
									<span>쿠폰 사용 불가</span>
								</p>
								<hr>
								<p class="d-flex total-price">
									<span>결제된 금액</span>
									<span>1,000원</span>
								</p>
							</div>
						</div>
					</div>
				</div>
				<div style="float: left; margin-right: 30px">
					<p><a href="/index" class="btn btn-urban py-3 px-5">홈페이지</a></p>
				</div>
				<div style="float: left; margin-left: 30px">
					<p><a href="/userVendingMachine/vmSpaceCheckList" class="btn btn-urban py-3 px-5">주문내역</a></p>
				</div>
			</div>
		</div>
	</section>

	</body>





    <a th:href="@{'/userVendingMachine/vmSpaceCheckList'}">예약 전체보기</a>
    <a th:href="@{'/userVendingMachine/vmSpaceDetail'}">예약 상세보기</a>    
    <a th:href="@{'/userVendingMachine/vmMain'}">홈으로</a> 
</th:block>

</html>