<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user_layout/default}">

<head>
	<style>
		.side-padding {
			padding-left: 10px;
			padding-right: 10px;
			margin: 40px;
			align-items: center;
			justify-content: center;
		}

		.vm-btn-size {
			width: 80px;
			height: 50px;
		}

		.upper-padding {
			padding-top: 200px;
		}
	</style>
</head>
<th:block layout:fragment="customContents">
	<section class="ftco-section">
		<div class="container" style="background-color: rgb(212, 236, 112)">
			<div class="row no-gutters ftco-services">
				<div class="col-md-6 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-10 services mb-md-0 mb-10" style="background-color: lemonchiffon">

						<button onclick="checkInfo()" th:text="Check Info" type="button"
							class="btn btn-outline-secondary side-padding click-to-move">A 1</button>
						<button onclick="checkInfo()" th:text="Check Info" type="button"
							class="btn btn-outline-secondary side-padding click-to-move">A 2</button>
						<button onclick="checkInfo()" th:text="Check Info" type="button"
							class="btn btn-outline-secondary side-padding click-to-move">A 3</button>
						<button onclick="checkInfo()" th:text="Check Info" type="button"
							class="btn btn-outline-secondary side-padding click-to-move">A 4</button>
						<button onclick="checkInfo()" th:text="Check Info" type="button"
							class="btn btn-outline-secondary side-padding click-to-move">A 5</button>
						<button onclick="checkInfo()" th:text="Check Info" type="button"
							class="btn btn-outline-secondary side-padding click-to-move">A 6</button>
						<button onclick="checkInfo()" th:text="Check Info" type="button"
							class="btn btn-outline-secondary side-padding click-to-move">A 7</button>
						<button onclick="checkInfo()" th:text="Check Info" type="button"
							class="btn btn-outline-secondary side-padding click-to-move">A 8</button>
						<button onclick="checkInfo()" th:text="Check Info" type="button"
							class="btn btn-outline-secondary side-padding click-to-move">A 9</button>
						<button onclick="checkInfo()" th:text="Check Info" type="button"
							class="btn btn-outline-secondary side-padding click-to-move">A 10</button>
						<button onclick="checkInfo()" th:text="Check Info" type="button"
							class="btn btn-outline-secondary side-padding click-to-move">A 11</button>
						<button onclick="checkInfo()" th:text="Check Info" type="button"
							class="btn btn-outline-secondary side-padding click-to-move">A 12</button>
						<button onclick="checkInfo()" th:text="Check Info" type="button"
							class="btn btn-outline-secondary side-padding vm-btn-size click-to-move">A 13</button>

						<th:block th:if="${isNull}">
							<p>예약 가능한 좌석입니다.</p>
						</th:block>
						<th:block th:unless="${isNull}">
							<p>예약 불가능한 좌석입니다.</p>
						</th:block>


						<script>
							function checkInfo() {
								var userId;

								// Fetch API를 이용하여 서버로 Ajax 요청을 보냅니다.
								fetch('/checkinfo?userId=' + userId)
									.then(response => response.json())
									.then(data => {
										if (data.isNull) {
											// 서버로부터 정보를 받아서 th:block를 보여줍니다.
											document.querySelector('[th\\:if]').style.display = 'block';
											document.querySelector('[th\\:unless]').style.display = 'none';
										} else {
											// 서버로부터 정보를 받아서 th:block를 보여줍니다.
											document.querySelector('[th\\:if]').style.display = 'none';
											document.querySelector('[th\\:unless]').style.display = 'block';
										}
									})
									.catch(error => {
										console.error('Error:', error);
									});
							}
						</script>

					</div>
				</div>
				<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate upper-padding">
					<div class="media block-6 services mb-md-0 mb-4">
						<div>
							<img id="urbanfarm_production_icons_ecoicon" src="/user/images/agile.png">
						</div>
						<div class="media-body">
							<h3 id="urbanfarm_heading">사용할 자판기 공간을 선택 해주세요!</h3>
							<span id="urbanfarm_boding">실제 자판기의 공간과 동일합니다!</span>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate upper-padding">
					<div class="media block-6 services mb-md-0 mb-4 click-to-home">
						<div>
							<img id="urbanfarm_production_icons_ecoicon" src="/user/images/vending-machine.png">
						</div>
						<div class="media-body">
							<h3 id="urbanfarm_heading">자판기 홈으로 돌아가기</h3>
						</div>
					</div>
				</div>
			</div>
		</div>


	</section>

</th:block>
<th:block layout:fragment="customJs">
	<script>
		$(document).on('click', '.click-to-move', function () {
			location.href = '/userVendingMachine/vmSpacePayment';
		});
		$(document).on('click', '.click-to-home', function () {
			location.href = '/userVendingMachine/vmMain';
		});
	</script>

</th:block>

</html>