<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user_layout/default}">
    <th:block layout:fragment="customJs">
    	<script>
    	/*
    	const $idCheckBtn = document.querySelector('#idCheck');
    	$idCheckBtn.addEventListener('click', e => {
    		alert('test');
    	});
    	*/
    	// 유효성검사 함수
    	const validCheck = element => {
    		let data = $(element).val();
    		let eleId = $(element).attr('id');
    		
    		if(typeof data == 'undefined' || data == null || data == '' ){
    			let cate = $(`label[for="${eleId}"]`).text();
    			alert(`${cate} 필수 입력항목입니다.`);
    			$(element).focus();
    			return false;
    		}
    		return true;
    	}
    	
    	// 회원아이디 변경 시 이벤트 처리
    	
    	// 회원 가입 버튼 시 이벤트
    	$('#addUserBtn').click(function(){
    		const validateEle = $('#addUserForm input');
    		let isSubmit = false;
    		let $phoneSize = $('#urbanfarmerPhone').size
    		
    		validateEle.each((idx, item) => {    				
    			isSubmit = validCheck(item);
    			return isSubmit;
    		})
    		if(isSubmit) {
    			
    			let msg = '계정생성을 성공하셨습니다.';
    			if($("input[name=checkId]").val() == 'y') {
    				
    				if(verifyId()) {
    						
    						if(verifyPw()) {
    							
    							if(verifyName()) {
    								
    								if($('#urbanfarmerPhone').val().length == 9) {
    									
    									if(verifyEmail()) {
    										
    										$('#addUserForm').submit();
    										
    									} else {
    										msg = '이메일을 정확히 입력해주세요';
    									}
    									
    								} else {
    									msg = '전화번호를 제대로 입력해주세요';
    								}
    								
    							} else {
    								msg = '이름을 정확히 작성해주세요';
    							}
    							
    						} else {
    							msg = '비밀번호를 제대로 입력해주세요';
    						}
    					
    					} else {
    						msg = '아이디를 정확히 입력해주세요';
    					}
    					
    				} else {
    					msg = '아이디 중복체크를 해주세요';
    				}
    				
    				alert(msg);
    			}
    			
    	});
    	
    	// 입력 취소 버튼 클릭시 이벤트 처리
    	/* $('#resetBtn').click(function(e){
    		// 태그가 가지고 있는 기본 이벤트 동작 방지
    		e.preventDefault();
    		$('#demo-form2 input').not('#urbanfarmAdminId').val('');
    	}); */ //
    	
    	// 아이디중복버튼 이벤트
    	$('#idCheck').click(function(){
    		const $urbanfarmerId = $('#urbanfarmerId');
    		let urbanfarmerId = $urbanfarmerId.val();
    		
    		// 유효성검사
    		let valid = validCheck($urbanfarmerId);
    		if(!valid) return false;
    		
    		$('#urbanfarmerId').change(function(){
    			$("input[name=checkId]").val('n');
    		})
    		
    		// ajax 호출
    		const request = $.ajax({
    			url: '/userAdd/userIdCheck',
    			method: 'POST',
    			data: { 'urbanfarmerId' : urbanfarmerId },
    			dataType: 'text'
    			});
    			 
    			request.done(function( response ) {
    				if(response == 'true'){
    					alert('이미 등록된 아이디입니다.');
    					$urbanfarmerId.val('');
    					$urbanfarmerId.focus();
    					
       				return false;
    				}else{
    					$('#addUserForm button').prop('disabled', false);
    					alert('사용 가능한 아이디입니다.');
    					$("input[name=checkId]").val('y');
    				}
    			//console.log(response);
    			});
    			 
    			request.fail(function( jqXHR, textStatus ) {
    			alert( "Request failed: " + textStatus );
    			});
    		
    	});
    	
    	
    	const autoHyphen2 = (target) => {
    		 target.value = target.value
    		   .replace(/[^0-9]/g, '')
    		  .replace(/^(\d{0,4})(\d{0,4})$/g, "$1-$2").replace(/(\-{1,2})$/g, "");
    		}

    	verifyEmail = function() {
    		  var emailVal = $('#urbanfarmerEmail').val();
    		  var emailExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;
    		  if (emailVal.match(emailExp) != null) {
    		    return true;
    		  }
    		  else {
    		    return false;
    		  }
    		};
        
    	verifyId = function() {
    		var idVal = $('#urbanfarmerId').val();
    		var idExp = /^[a-z]+[a-z0-9]{4,19}$/g;
    		if(idVal.match(idExp) != null) {
    			return true;
    		} else {
    			return false;
    		}
    	}
    	
    	verifyPw = function() {
    		var pwVal = $('#urbanfarmerPw').val();
    		var pwExp = /^(?=.*[a-zA-z])(?=.*[0-9])(?=.*[$`~!@$!%*#^?&\\(\\)\-_=+]).{8,16}$/;
    		if(pwVal.match(pwExp) != null) {
    			return true;
    		} else {
    			return false;
    		}
    	}
    	verifyName = function() {
    		var nameVal = $('#urbanfarmerName').val();
    		var nameExp = /[ㄱ-힣]/;
    		if(nameVal.match(nameExp) != null) {
    			return true;
    		} else {
    			return false;
    		}
    	}
    		
    		
    		
    	</script>
    </th:block>     
<th:block layout:fragment="customContents">
    <section class="ftco-section contact-section bg-light">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-6 order-md-last d-flex">
                <form id="addUserForm" th:action="@{/userAdd/userAddForm}" th:object="${urbanfarmer}" method="post"
                      class="bg-white p-5 contact-form" >
                      
						<div class="input-group mb-3">
						  <div class="form-floating col-9">
						    <input type="text" class="form-control" id="urbanfarmerId" name="urbanfarmerId" 
						    placeholder="영문으로 시작하는 5~20자 아이디를 작성해주세요">
						    <label for="urbanfarmerId">아이디</label>
						  </div>
						  <div class="form-floating" style="text-align: right;">
						  	<button type="button" id="idCheck" class="btn btn-secondary py-2 px-4"> 아이디 중복체크 </button>
						  	<input type="hidden" name="checkId" value="n">
						  </div>
						</div>
						<div class="input-group mb-3">
						  <div class="form-floating col-9">
						    <input type="password" class="form-control" id="urbanfarmerPw" name="urbanfarmerPw" 
						    placeholder="영문, 숫자, 특수문자를 최소 한가지씩 포함하는 8~16자 비밀번호를 작성해주세요">
						  	<label for="urbanfarmerPw">비밀번호</label>
						  </div>
						</div>
						<div class="input-group mb-3">
						  <div class="form-floating col-9">
						    <input type="text" class="form-control" id="urbanfarmerName" name="urbanfarmerName" placeholder="이름을 입력해주세요">
						  	<label for="urbanfarmerName">이름</label>
						  </div>
						</div>						
						<div class="input-group mb-3">
						  <div class="form-floating col-9">
						    <input type="email" class="form-control" id="urbanfarmerEmail" name="urbanfarmerEmail" placeholder="이메일형식에 맞춰 작성해주세요">
						  	<label for="urbanfarmerEmail">이메일</label>						    
						  </div>
						</div>
						<div class="input-group mb-3">
						  <div class="form-floating col-11">
						  	<div class="row pt-1 mb-1">
						  	<select class="form-control col-2"> <option value="010" disabled="disabled" selected="selected"> 010 </option> </select>
						    <input type="text" class="form-control col-8" id="urbanfarmerPhone" placeholder="전화번호를 작성해주세요" oninput="autoHyphen2(this)"
						    maxlength="9">
						  	</div>
						  	<label for="urbanfarmerPhone">휴대번호</label>						    
						  </div>
						</div>
						<div class="input-group mb-3">
						  <div>SMS수신동의</div>						    
						  <div class="form-floating col-9">
						    <input type="radio" name="urbanfarmerSmsCheck" value="y" checked="checked"> 예
						    <input type="radio" name="urbanfarmerSmsCheck" value="n"> 아니오
						  </div>
						</div>
						<div class="input-group mb-3">
						<div>이메일수신동의</div>
						  <div class="form-floating col-9">
						    <input type="radio" name="urbanfarmerEmailCheck" value="y" checked="checked"> 예
						    <input type="radio" name="urbanfarmerEmailCheck" value="n"> 아니오
						  </div>
						</div>
						
					<div class="form-group" style="text-align:right">
                    		 <button id="addUserBtn" type="button" class="btn btn-info py-2 px-4"> 회원가입 </button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</th:block>

</html>