<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user_layout/default}">
<th:block layout:fragment="customContents">
    <section class="ftco-section contact-section bg-light">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-6 order-md-last d-flex">
                <form th:action="@{/Uinsert/user_insert_action}" th:object="${urbanfarmer}" method="post"
                      class="bg-white p-5 contact-form">
                    <div class="row">
                    		<div class="input-group mb-3">
							  <span class="input-group-text">id</span>
							  <div class="form-floating col-9">
							    <input type="text" class="form-control" id="floatingInput" placeholder="Username">
							  </div>
							   <div class="col">
			                    	<button type="button" id="idCheck" style="float:right" class="btn btn-primary py-3 px-4"> 중복확인 </button>
			                    </div>
							</div>
                    </div>
                    <div class="form-group" >
                        비밀번호 <input type="password" class="form-control">
                    </div>
                    <div class="form-group">
                        비밀번호 확인 <input type="password" id="insert_member_pw_check" class="form-control">
                    </div>
                    <div id="error_message" class="error-message"></div>
                    <div class="form-group">
                        이름 <input type="text" class="form-control">
                        <p id="name_error_message"></p>
                    </div>
                    <div class="form-group">
                        이메일 <input type="email" class="form-control">
                        <p id="email_error_message"></p>
                    </div>
                    <div class="form-group">
                        전화번호 <input type="tel" class="form-control">
                        <p id="phone_error_message"></p>
                    </div>
                    <div>
                        문자 메세지 수신 <br>
                        <input name="sms_check" type="radio" value="yes" checked> 예
                        <input name="sms_check" type="radio" value="no"> 아니오
                    </div>
                    <Br>
                    <div>
                        이메일 수신 <br>
                        <input name="email_check" type="radio" value="yes" checked> 예
                        <input name="email_check" type="radio" value="no"> 아니오
                    </div>
                    <div class="form-group" style="text-align:right">
                       	<!-- <input type="submit" value="회원가입"
                               class="btn btn-primary py-3 px-5"> 
                               기능 구현시 주석 및 a태그 삭제 -->
                    		 <a class="btn btn-primary py-3 px-5" id="alertInsert">회원가입</a>
                    </div>
                </form>
            </div>
        </div>
    </section>
</th:block>
<th:block layout:fragment="customJs">
    <script type="text/javascript">
    	// user_insert_form_1 : 회원가입 완료버튼시 팝업 출력, 기능구현시 삭제
	    $('#alertInsert').click(function(e){
	    	e.preventDefault();
	    	alert('회원가입이 완료되었습니다.');
	    	$(location).attr("href", "http://localhost/userLogin/userLogin");
	    });
    	function databaseCheck(item, errorMassage){
            fetch('/Uin/urbanfarm_id_check',{
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({urbanfarmer_id: item})
            })
                .then(response => response.json())
                .then(data => {
                    if(data.exists){
                        errorMassage.innerText = '아이디가 이미 존재합니다.';
                        errorMassage.style.color = 'red';
                    }else{
                        errorMassage.innerText = '아이디를 사용가능합니다!';
                        errorMassage.style.color = 'green';
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
        document.getElementById('urbanfarmerInsertId').addEventListener("blur", function(){
            console.log('blur 이벤트 작동');
            const urbanfarmerId = document.getElementById('urbanfarmerInsertId').value;
            const $errorMassage = document.getElementById('id_error_message');
            databaseCheck(urbanfarmerId, $errorMassage);
        })
    </script>
</th:block>
</html>