<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default_admin}">
<th:block layout:fragment="customContents">
    <h1 th:text="${contents}">[[${contents}]]</h1>
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <br>
                <div class="x_title">
                    <h2>회원관리<small>회원</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped table-bordered   dt-responsive nowrap loading-hide"
                               cellspacing="0" width="100%">
                        <thead>
                            <tr>
                            </tr>
                        </thead>
                    </table>
                    <button type="button" class="btn-outline loading-hide chb-up">전체선택</button>
                    <button type="button" class="btn-outline loading-hide" id="shop-add">등록</button>
                    <button type="button" class="btn-outline loading-hide" id="shop-modify">수정</button>
                    <button type="button" class="btn-outline loading-hide" id="shop-remove">삭제</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="customJs">
    <script th:inline="javascript">
        // 오름차, 내림차순 정렬 숫자
            let $thead = $('#datatable-responsive thead tr');
            for(let i = 0; i < 12; i++) {
                $thead.append('<th></th>');
            }
            function naturalSort(a, b) {
                let re = /(\d+)/g;
                a = String(a).split(re);
                b = String(b).split(re);
                let anum, bnum;

                while (a.length && b.length) {
                    anum = a.shift();
                    bnum = b.shift();
                    if (isNaN(anum) || isNaN(bnum)) {
                        if (anum !== bnum) return anum > bnum ? 1 : -1;
                    } else {
                        anum = Number(anum);
                        bnum = Number(bnum);
                        if (anum !== bnum) return anum > bnum ? 1 : -1;
                    }
                }
                return a.length - b.length;
            }

            jQuery.extend(jQuery.fn.dataTableExt.oSort, {
                "natural-asc": function (a, b) {
                    return naturalSort(a, b);
                },

                "natural-desc": function (a, b) {
                    return naturalSort(a, b) * -1;
                }
            });
            if ($.fn.dataTable.isDataTable('#datatable-responsive')) {
                $('#datatable-responsive').DataTable().destroy();
            }

            // datatables 정의
            let table = $('#datatable-responsive').DataTable({
                ajax: {
                    url: '/adminInfo/adminInfoManageData', // 데이터를 가져올 URL
                    method: 'GET', // 사용할 HTTP 메서드, 예: 'GET' 또는 'POST' data: []
                    dataSrc: '',
                },
                columns: [
                	{ data: 'urbanfarmerName'},
                    { data: 'urbanfarmerId'},
                    { data: 'urbanfarmerPw'},
                    { data: 'urbanfarmerName'},
                    { data: 'urbanfarmerEmail'},
                    { data: 'urbanfarmerPhone'},
                    { data: 'urbanfarmerSmsCheck'},
                    { data: 'urbanfarmerEmailCheck'},
                    { data: 'urbanfarmerInsertRegDate'},
                    { data: 'urbanfarmerUpdateRegDate'},
                    { data: 'urbanfarmerDropRegDate'},
                    { data: 'urbanfarmerDropClassification'}
                ],
                columnDefs: [
                    {type: "natural", "targets": [1, 3]}, // 정렬
                    {
                        'targets': 0,
                        'title': '체크',
                        'searchable': false,
                        'orderable': false,
                        'className': 'dt-body-center',
                        'render': function (data, type, full, meta){
                            return `<input type="checkbox" class="chb-down admin-check-box-td" data-urbanfarmer-id="${full.urbanfarmerId}">`;
                        }
                    },
                    {title: '회원 아이디', targets : 1 },
                    {title: '회원 비밀번호', targets : 2 },
                    {title: '회원 이름', targets : 3 },
                    {title: '회원 이메일', targets : 4 },
                    {title: '회원 전화번호', targets : 5 },
                    {title: '회원 수신체크', targets : 6 },
                    {title: '회원 이메일체크', targets : 7 },
                    {title: '회원 가입시간', targets : 8 , className: 'none'},
                    {title: '회원 정보수정시간', targets : 9 , className: 'none'},
                    {title: '회원 탈퇴시간', targets : 10 , className: 'none'},
                    {title: '회원 상태', targets : 11 }
                ],
                order: [
                    [2, "asc"]
                ],
                colReorder: true,
                responsive: true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copy',
                        text: '복사',
                        titleAttr: '데이터 복사',
                        exportOptions: {
                            columns: ':not(:first-child)'
                        }
                    },
                    {
                        extend: 'csv',
                        text: 'CSV',
                        titleAttr: 'CSV로 저장',
                        bom: true,
                        charset: 'UTF-8',
                        customize: function(csv) {
                            return "\uFEFF" + csv;
                        },
                        exportOptions: {
                            columns: ':not(:first-child)'
                        }
                    },
                    {
                        extend: 'excel',
                        text: 'EXCEL',
                        titleAttr: 'EXCEL로 저장',
                        exportOptions: {
                            columns: ':not(:first-child)'
                        }
                    },
                    {
                        extend: 'pdf',
                        text: 'PDF',
                        titleAttr: 'PDF로 저장',
                        exportOptions: {
                            columns: ':not(:first-child)'
                        }
                    },
                    {
                        extend: 'print',
                        text: 'PRINT',
                        titleAttr: '프린트하기',
                        exportOptions: {
                            columns: ':not(:first-child)'
                        }
                    },
                    {
                        extend: 'colvis',
                        text: '행선택정렬',
                        titleAttr: '행선택정렬',
                        exportOptions: {
                            columns: ':not(:first-child)'
                        }
                    },
                    {
                        extend: 'pageLength',
                        text: '데이터량',
                        titleAttr: '데이터 갯수',
                        exportOptions: {
                            columns: ':not(:first-child)'
                        }
                    }
                ]
            });

        // 로딩중 테이블 표시 X
        $('#datatable-responsive').removeClass('loading-hide');
        $('button').removeClass('loading-hide');

        // 체크박스 일괄체크
        $(".chb-up").on('click', function(){
            let isChecked = $(".chb-down").first().prop("checked");

            if(isChecked) {
                $(this).text("전체선택");
                $(".chb-down").prop("checked", false);
            } else {
                $(this).text("선택해제");
                $(".chb-down").prop("checked", true);
            }
        });

        // 체크박스 클릭 시 row details 확장 방지
        $('#datatable-responsive tbody').on('click', 'input[type="checkbox"]', function(e){
            e.stopPropagation();
        });

        // 등록버튼 클릭시 팝업
        $('#shop-add').on('click', function(){

            let width = 800;
            let height = 900;

            let left = Math.ceil(( window.screen.width - width )/2);
            let top = Math.ceil(( window.screen.height - height )/2);

            let windowStatus = 'width='+width+', height='+height+', left='+left+', top='+top+', scrollbars=no, status=no, resizable=no, titlebar=no, location=no, toolbar=no, menubar=no';

            const url = "adminUrbanfarmerAdd";

            window.open(url, "상점상품등록", windowStatus);
        });

        // 수정버튼 클릭시 팝업
        $('#shop-modify').on('click', function() {
            // 체크된 요소의 id값 가져옴
            const checkedEle = $('.chb-down:checked');
            if (checkedEle.length === 0) {
                alert('수정할 항목을 선택해주세요.');
                return;
            } else if (checkedEle.length >= 2) {
                alert('1개만 선택해주세요.')
                checkedEle.prop('checked', false);
                return;
            }
            const urbanfarmerId = checkedEle.data('urbanfarmerId');
            console.log('urbanfarmerId ->', urbanfarmerId);

            let width = 800;
            let height = 900;

            let left = Math.ceil((window.screen.width - width) / 2);
            let top = Math.ceil((window.screen.height - height) / 2);

            let windowStatus = 'width=' + width + ', height=' + height + ', left=' + left + ', top=' + top + ', scrollbars=no, status=no, resizable=no, titlebar=no, location=no, toolbar=no, menubar=no';

            const url = "adminUpdateInfo?urbanfarmerId=" + urbanfarmerId;
            window.open(url, "회원정보수정", windowStatus);
        });


        // 삭제하기 클릭시 팝업
        $('#shop-remove').on('click', function (){

            if(confirm('정말로 삭제하시겠습니까?')) {
                const checkedEle = $('.chb-down:checked');
                const codeArr = [];

                checkedEle.each(function(idx, item){
                    console.log(item.dataset);
                    const goodsKitCode = item.dataset.goodsKitCode;
                    codeArr.push(goodsKitCode);
                });

                $.ajax({
                    url: "adminShopRemove",
                    data:JSON.stringify({ checkedData: codeArr }),
                    type: "POST",
                    contentType: 'application/json',
                    success: function(response) {
                        console.log(codeArr);
                        alert('삭제되었습니다.');

                        table.ajax.reload();
                    },
                    fail: function(jqXHR, textStatus, errorThrown) {
                        alert('오류가 발생했습니다. ' + textStatus + ': ' + errorThrown);
                    }
                })
            } else {
                return false;
            }
        });

        // 신청하기 버튼
        // ks47team01\src\main\resources\templates\user_order\order_processing.html
        if($('.orderProcessingSubmit').length > 0){
            function orderProcessingSubmit() {
                alert('신청이 완료되었습니다.');
                window.close();
            }
            $('.orderProcessingSubmit').on('click', orderProcessingSubmit);
        }
    </script>
</th:block>
