<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user_layout/default}">
<th:block layout:fragment="customContents">

	<body>
	<section class="ftco-section ftco-cart">
		<div class="container">
			<div class="row">
				<div class="col-md-12 ftco-animate">
					<div>
						<table class="table">
							<thead class="thead-primary">
							<tr class="text-center">
								<th>&nbsp;</th>
								<th>&nbsp;</th>
								<th>&nbsp;</th>
								<th>상품명</th>
								<th>가격</th>
								<th>갯수</th>
								<th>총액</th>
							</tr>
							</thead>
							<tbody>
							<tr class="text-center">
								<td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a>
								</td>

								<td><input type="checkbox" checked="checked" id="urban-cb1"></td>

								<td class="image-prod">
									<div>
										<img class="thumb" src="/user/images/product-2.jpg">
									</div>
								</td>

								<td class="product-name">
									<h3>어반팜 딸기 키트 - 중급자용</h3>
									<p>맛있는 딸기</p>
								</td>

								<td class="price">59,000원</td>

								<td class="quantity">
									<div class="input-group mb-3">
										<input type="text" name="quantity"
											   class="quantity form-control input-number" value="1" min="1"
											   max="100">
									</div>
								</td>

								<td class="total">59,000원</td>
							</tr><!-- END TR-->

							<tr class="text-center">
								<td class="product-remove"><a href="#"><span class="ion-ios-close"></span></a>
								</td>

								<td class="urban-check-box"><input type="checkbox" checked="checked"
																   id="urban-cb1"></td>

								<td class="image-prod">
									<div>
										<img class="thumb" src="/user/images/product-1.jpg">
									</div>
								</td>

								<td class="product-name">
									<h3>어반팜 피망키트 - 초급자용</h3>
									<p>맛있는 피망</p>
								</td>

								<td class="price">5,900원</td>

								<td class="quantity">
									<div class="input-group mb-3">
										<input type="text" name="quantity"
											   class="quantity form-control input-number" value="1" min="1"
											   max="100">
									</div>
								</td>

								<td class="total">5,900원</td>
							</tr><!-- END TR-->
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row justify-content-end">
				<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
					<div class="cart-total mb-3">
						<h3>영수증</h3>
						<p class="d-flex">
							<span>총액</span>
							<span>118,000원</span>
						</p>
						<p class="d-flex">
							<span>배송비</span>
							<span>0원</span>
						</p>
						<p class="d-flex">
							<span>할인금액</span>
							<span>-53,100원</span>
						</p>
						<hr>
						<p class="d-flex total-price">
							<span>결제할 금액</span>
							<span>64,900원</span>
						</p>
					</div>
					<p><a href="/userPayment/userPaymentMain" class="btn btn-primary py-3 px-4">결제하기</a></p>
				</div>
			</div>
		</div>
	</section>
	</body>
</th:block>

</html>