<!DOCTYPE html>
<html layout:decorate="~{user_layout/default}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeLeaf.org">


<th:block layout:fragment="customContents">
    <div class="js-h-blank-50"></div>
    <div class="container text-center">
        <h1 class="font-weight-bold">내 예약 목록</h1>
    </div>
    <div class="js-h-blank-70"></div>
    <section class="ftco-section2 ftco-cart">
        <div class="container justify-content-center">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 ftco-animate ">
                    <div class="text-center">
                        <div class="row click-to-move js-under-line js-cursor">
                            <div class="col-md-4 ">
                                <h3>피순이</h3>
                                <p>id001 : 이동훈</p>
                            </div>
                            <div class="col-md-4 prtendard">
                                <p>피망</p>
                                <p>덕진동 허브</p>
                            </div>
                            <div class="col-md-4 prtendard">
                                <p>예약 시간: <span id="startDate">2023-07-11</span></p>
                                <p>승인 상태: 승인대기</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="js-h-blank-50"></div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 ftco-animate">
                    <div class="text-center">
                        <div class="row click-to-move js-under-line js-cursor">
                            <div class="col-md-4">
                                <h3>피순이</h3>
                                <p>id001 : 이동훈</p>
                            </div>
                            <div class="col-md-4">
                                <p>피망</p>
                                <p>덕진동 허브</p>
                            </div>
                            <div class="col-md-4">
                                <p>예약 시간: <span id="startDate">2023-07-11</span></p>
                                <p>승인 상태: 승인완료</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </section>
</th:block>
<th:block layout:fragment="customJs">
    <script>
        $(document).on('click', '.click-to-move', function () {
            location.href = '/userSaleHubReservation/saleReservationDetail';
        });
    </script>
</th:block>

</html>