<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{user_layout/default}">\

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/user/css/junsu.css}">

</head>

<th:block layout:fragment="customContents">
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 ftco-animate">
                    <form action="/userSaleHubReservation/saleReservationDetail" class="billing-form">
                        <h3 class="mb-4 billing-heading prtendard">예약 수정</h3>
                        <div class="row align-items-end">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="firstname">사용자 이름</label>
                                    <input type="text" class="js-form-controll-readonly js-form-controll" value="이동훈" readonly>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="firstname">판매 예약하는 허브지점 </label>
                                    <input type="text" class="form-control" placeholder="덕진동 허브">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstname" class="prtendard">판매 작물명 </label>
                                    <input type="text" class="js-form-controll-readonly js-form-controll" value="피순이">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="firstname" class="prtendard">작물 계획 별칭</label>
                                    <input type="text" class="js-form-controll-readonly js-form-controll" value="피망">
                                </div>
                            </div>
                            <div class="w-100"></div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="country">월</label>
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="" id="" class="form-control">
                                            <option value="" selected>07</option>
                                            <option value="">08</option>
                                            <option value="">09</option>
                                            <option value="">10</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="country">일</label>
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="" id="" class="form-control">
                                            <option value="">12</option>
                                            <option value="" selected>13</option>
                                            <option value="">14</option>
                                            <option value="">15</option>
                                            <option value="">16</option>
                                            <option value="">17</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="country">시간</label>
                                    <div class="select-wrap">
                                        <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                        <select name="" id="" class="form-control">
                                            <option value="">17:00</option>
                                            <option value="" selected>18:00</option>
                                            <option value="">19:00</option>
                                            <option value="">20:00</option>
                                            <option value="">21:00</option>
                                            <option value="">22:00</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="firstname" class="prtendard">요일</label>
                                    <input type="text" class="form-control" placeholder="" value="화">
                                </div>
                            </div>
                            <div class="col-md-12 top-padding-40">
                                <button class="col-md-12 btn btn-primary py-3 px-4" id="modifyReservation">예약 등록</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>ㄴ