<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default_admin}">
<th:block layout:fragment="customContents">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>상품등급 목록<small>자가검증 상품등급 목록입니다.</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap loading-hide">
                        <thead>
                        <tr>
                        </tr>
                        </thead>
                    </table>
                    <button type="button" class="btn-outline loading-hide chb-up">전체선택</button>
                    <button type="button" class="btn-outline loading-hide" id="shop-add">등록</button>
                    <button type="button" class="btn-outline loading-hide" id="shop-modify">수정</button>
                    <button type="button" class="btn-outline loading-hide" id="shop-remove">삭제</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="customJs">
    <script type="text/javascript">
        const $modifyBtns = document.querySelectorAll('.modifyBtn');

        $modifyBtns.forEach(function(btn){
            btn.addEventListener('click', function(){
                window.location.href = '/adminSelfCheck/productGrade/modifyVerificationProductGrade'
            })
        })

        // 오름차, 내림차순 정렬 숫자
        let $thead = $('#datatable-responsive thead tr');
        for(let i = 0; i < 7; i++) {
            $thead.append('<th></th>');
        }
        function naturalSort(a, b) {
            let re = /(\d+)/g;
            a = String(a).split(re);
            b = String(b).split(re);
            let anum, bnum;

            while (a.length && b.length) {
                anum = a.shift();
                bnum = b.shift();
                if (isNaN(anum) || isNaN(bnum)) {
                    if (anum !== bnum) return anum > bnum ? 1 : -1;
                } else {
                    anum = Number(anum);
                    bnum = Number(bnum);
                    if (anum !== bnum) return anum > bnum ? 1 : -1;
                }
            }
            return a.length - b.length;
        }

        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "natural-asc": function (a, b) {
                return naturalSort(a, b);
            },

            "natural-desc": function (a, b) {
                return naturalSort(a, b) * -1;
            }
        });

        if ($.fn.dataTable.isDataTable('#datatable-responsive')) {
            $('#datatable-responsive').DataTable().destroy();
        }

        // datatables 정의
        let table = $('#datatable-responsive').DataTable({
            ajax: {
                url: '/adminSelfCheck/productGrade/dataProductGrade', // 데이터를 가져올 URL
                method: 'GET', // 사용할 HTTP 메서드, 예: 'GET' 또는 'POST' data: []
                dataSrc: '',
            },
            columns: [
                { data: null, defaultContent: ""},
                { data: 'selfCheckCropsGradeCode'},
                { data: 'urbanfarmAdminId'},
                { data: 'productGrade'},
                { data: 'productHighGrade'},
                { data: 'productLowGrade'},
                { data: 'selfCheckCropsGradeRegDate'}
            ],
            columnDefs: [
                {type: "natural", targets: [1]}, // 정렬
                {
                    targets: 0,
                    title: '체크',
                    data: null,
                    searchable: false,
                    orderable: false,
                    className: 'dt-body-center',
                    render: function (data, type, full, meta){
                        return `<input type="checkbox" class="chb-down admin-check-box-td" data-goods-kit-code="${full.selfCheckCropsGradeCode}">`;
                    }
                },
                {title: '상품등급코드', targets : 1 },
                {title: '관리자 직원 아이디', targets : 2 },
                {title: '상품등급', targets : 3 },
                {title: '등급최고점수', targets : 4 },
                {title: '등급최저점수', targets : 5 },
                {title: '등록일자', targets : 6 }
            ],
            order: [
                [2, "asc"]
            ],
            colReorder: true,
            responsive: true,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    text: '복사',
                    titleAttr: '데이터 복사',
                    exportOptions: {
                        columns: ':not(:first-child)'
                    }
                },
                {
                    extend: 'csv',
                    text: 'CSV',
                    titleAttr: 'CSV로 저장',
                    bom: true,
                    charset: 'UTF-8',
                    customize: function(csv) {
                        return "\uFEFF" + csv;
                    },
                    exportOptions: {
                        columns: ':not(:first-child)'
                    }
                },
                {
                    extend: 'excel',
                    text: 'EXCEL',
                    titleAttr: 'EXCEL로 저장',
                    exportOptions: {
                        columns: ':not(:first-child)'
                    }
                },
                {
                    extend: 'pdf',
                    text: 'PDF',
                    titleAttr: 'PDF로 저장',
                    exportOptions: {
                        columns: ':not(:first-child)'
                    }
                },
                {
                    extend: 'print',
                    text: 'PRINT',
                    titleAttr: '프린트하기',
                    exportOptions: {
                        columns: ':not(:first-child)'
                    }
                },
                {
                    extend: 'colvis',
                    text: '행선택정렬',
                    titleAttr: '행선택정렬',
                    exportOptions: {
                        columns: ':not(:first-child)'
                    }
                },
                {
                    extend: 'pageLength',
                    text: '데이터량',
                    titleAttr: '데이터 갯수',
                    exportOptions: {
                        columns: ':not(:first-child)'
                    }
                }
            ]
        });

        // 로딩중 테이블 표시 X
        $('#datatable-responsive').removeClass('loading-hide');
        $('button').removeClass('loading-hide');

        // 체크박스 일괄체크
        $(".chb-up").on('click', function(){
            let isChecked = $(".chb-down").first().prop("checked");

            if(isChecked) {
                $(this).text("전체선택");
                $(".chb-down").prop("checked", false);
            } else {
                $(this).text("선택해제");
                $(".chb-down").prop("checked", true);
            }
        });

        // 체크박스 클릭 시 row details 확장 방지
        $('#datatable-responsive tbody').on('click', 'input[type="checkbox"]', function(e){
            e.stopPropagation();
        });

        // 등록버튼 클릭시 팝업
        $('#shop-add').on('click', function(){

            let width = 1000;
            let height = 700;

            let left = Math.ceil(( window.screen.width - width )/2);
            let top = Math.ceil(( window.screen.height - height )/2);

            let windowStatus = 'width='+width+', height='+height+', left='+left+', top='+top+', scrollbars=no, status=no, resizable=no, titlebar=no, location=no, toolbar=no, menubar=no';

            const url = "adminShopAdd";

            window.open(url, "상점상품등록", windowStatus);
        });

        // 수정버튼 클릭시 팝업


        // 삭제하기 클릭시 팝업
        $('#shop-remove').on('click', function (){

            if(confirm('정말로 삭제하시겠습니까?')) {
                const checkedEle = $('.chb-down:checked');
                const codeArr = [];

                checkedEle.each(function(idx, item){
                    console.log(item.dataset);
                    const goodsKitCode = item.dataset.goodsKitCode;
                    codeArr.push(goodsKitCode);
                });

                $.ajax({
                    url: "adminShopRemove",
                    data:JSON.stringify({ checkedData: codeArr }),
                    type: "POST",
                    contentType: 'application/json',
                    success: function(response) {
                        console.log(codeArr);
                        alert('삭제되었습니다.');

                        table.ajax.reload();
                    },
                    fail: function(jqXHR, textStatus, errorThrown) {
                        alert('오류가 발생했습니다. ' + textStatus + ': ' + errorThrown);
                    }
                })
            } else {
                return false;
            }
        });

        // 신청하기 버튼
        // ks47team01\src\main\resources\templates\user_order\order_processing.html
        if($('.orderProcessingSubmit').length > 0){
            function orderProcessingSubmit() {
                alert('신청이 완료되었습니다.');
                window.close();
            }
            $('.orderProcessingSubmit').on('click', orderProcessingSubmit);
        }
    </script>
</th:block>
</html>



