<!DOCTYPE html>
<html layout:decorate="~{admin/layout/default_admin}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<th:block layout:fragment="customContents">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>상품등급 목록<small>자가검증 상품등급 목록입니다.</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a aria-expanded="false" class="dropdown-toggle" data-toggle="dropdown" href="#" role="button"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <table class="table table-striped table-bordered dt-responsive nowrap loading-hide" id="product-grade-table">
                        <thead>
                        <tr>
                        </tr>
                        </thead>
                    </table>
                    <button class="btn-outline loading-hide chb-up" type="button">전체선택</button>
                    <button class="btn-outline loading-hide" id="removeBtn" type="button">삭제</button>
                </div>
            </div>
        </div>
    </div>

    <!-- 키트 선택 모달창 -->
    <div aria-hidden="true" aria-labelledby="modifyModalLabel" class="modal fade" id="modifyModal" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5 class="modal-title" id="modifyModalLabel">상품등급수정</h5>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2 id="selfCheckCropsGradeCode"></h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <br />
                                    <form action="/adminSelfCheck/productGrade/listVerificationProductGrade" class="form-horizontal form-label-left" data-parsley-validate id="demo-form2">

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="urbanfarmAdminId">관리자 아이디</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <input class="form-control col-md-9 col-xs-12" id="urbanfarmAdminId" readonly required="required" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="productGrade">상품등급 <span class="required">*</span>
                                            </label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <input class="form-control col-md-9 col-xs-12" id="productGrade" name="productGrade" required="required" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="productHighGrade">등급 최고 상품점수<span class="required">*</span>
                                            </label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <input class="form-control col-md-7 col-xs-12" id="productHighGrade" name="productHighGrade" required="required" type="text">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="productLowGrade">등급 최저 상품점수<span class="required">*</span>
                                            </label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <input class="form-control col-md-9 col-xs-12" id="productLowGrade" name="productLowGrade" required="required" type="text">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" id="rollBackBtn" type="button">다시쓰기</button>
                    <button class="btn btn-secondary" id="modifyCancleBtn" type="button">수정취소</button>
                    <button class="btn btn-success" id="modifyBtn" type="button">수정하기</button>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="customJs">
    <script type="text/javascript">
        let selfCheckCropsGradeCode;
        let urbanfarmAdminId;
        let db_productGrade;
        let db_productHighGrade;
        let db_productLowGrade;

        // 오름차, 내림차순 정렬 숫자
        let $thead = $('#product-grade-table thead tr');
        for(let i = 0; i < 7; i++) {
            $thead.append('<th></th>');
        }
        function naturalSort(a, b) {
            let re = /(\d+)/g;
            a = String(a).split(re);
            b = String(b).split(re);
            let anum, bnum;

            while (a.length && b.length) {
                anum = a.shift();
                bnum = b.shift();
                if (isNaN(anum) || isNaN(bnum)) {
                    if (anum !== bnum) return anum > bnum ? 1 : -1;
                } else {
                    anum = Number(anum);
                    bnum = Number(bnum);
                    if (anum !== bnum) return anum > bnum ? 1 : -1;
                }
            }
            return a.length - b.length;
        }

        jQuery.extend(jQuery.fn.dataTableExt.oSort, {
            "natural-asc": function (a, b) {
                return naturalSort(a, b);
            },

            "natural-desc": function (a, b) {
                return naturalSort(a, b) * -1;
            }
        });

        if ($.fn.dataTable.isDataTable('#product-grade-table')) {
            $('#product-grade-table').DataTable().destroy();
        }

        // datatables 정의
        let table = $('#product-grade-table').DataTable({
            ajax: {
                url: '/adminSelfCheck/productGrade/dataProductGrade', // 데이터를 가져올 URL
                method: 'GET', // 사용할 HTTP 메서드, 예: 'GET' 또는 'POST' data: []
                dataSrc: '',
            },
            columns: [
                { data: null, defaultContent: ""},
                { data: 'selfCheckCropsGradeCode'},
                { data: 'urbanfarmAdminId'},
                { data: 'productGrade'},
                { data: 'productHighGrade'},
                { data: 'productLowGrade'},
                { data: 'selfCheckCropsGradeRegDate'}
            ],
            columnDefs: [
                { "className": "modal-show", "targets": [1,2,3,4,5,6] },
                {type: "natural", targets: [1]}, // 정렬
                {
                    targets: 0,
                    title: '체크',
                    data: null,
                    searchable: false,
                    orderable: false,
                    className: 'dt-body-center',
                    render: function (data, type, full, meta){
                        return `<input type="checkbox" class="chb-down admin-check-box-td" data-self-check-crops-grade-code="${full.selfCheckCropsGradeCode}">`;
                    }
                },
                {title: '상품등급코드', targets : 1 },
                {title: '관리자 직원 아이디', targets : 2 },
                {title: '상품등급', targets : 3 },
                {title: '등급최고점수', targets : 4 },
                {title: '등급최저점수', targets : 5 },
                {title: '등록일자', targets : 6 }
            ],
            order: [
                [2, "asc"]
            ],
            colReorder: true,
            responsive: true,
            dom: 'Bfrtip',
            buttons: [
                {
                    extend: 'copy',
                    text: '복사',
                    titleAttr: '데이터 복사',
                    exportOptions: {
                        columns: ':not(:first-child)'
                    }
                },
                {
                    extend: 'csv',
                    text: 'CSV',
                    titleAttr: 'CSV로 저장',
                    bom: true,
                    charset: 'UTF-8',
                    customize: function(csv) {
                        return "\uFEFF" + csv;
                    },
                    exportOptions: {
                        columns: ':not(:first-child)'
                    }
                },
                {
                    extend: 'excel',
                    text: 'EXCEL',
                    titleAttr: 'EXCEL로 저장',
                    exportOptions: {
                        columns: ':not(:first-child)'
                    }
                },
                {
                    extend: 'pdf',
                    text: 'PDF',
                    titleAttr: 'PDF로 저장',
                    exportOptions: {
                        columns: ':not(:first-child)'
                    }
                },
                {
                    extend: 'print',
                    text: 'PRINT',
                    titleAttr: '프린트하기',
                    exportOptions: {
                        columns: ':not(:first-child)'
                    }
                },
                {
                    extend: 'colvis',
                    text: '행선택정렬',
                    titleAttr: '행선택정렬',
                    exportOptions: {
                        columns: ':not(:first-child)'
                    }
                },
                {
                    extend: 'pageLength',
                    text: '데이터량',
                    titleAttr: '데이터 갯수',
                    exportOptions: {
                        columns: ':not(:first-child)'
                    }
                }
            ]
        });

        // 로딩중 테이블 표시 X
        $('#product-grade-table').removeClass('loading-hide');
        $('button').removeClass('loading-hide');

        // 체크박스 일괄체크
        $(".chb-up").on('click', function(){
            let isChecked = $(".chb-down").first().prop("checked");

            if(isChecked) {
                $(this).text("전체선택");
                $(".chb-down").prop("checked", false);
            } else {
                $(this).text("선택해제");
                $(".chb-down").prop("checked", true);
            }
        });

        // 체크박스 클릭 시 row details 확장 방지
        $('#product-grade-table tbody').on('click', 'input[type="checkbox"]', function(e){
            e.stopPropagation();
        });

        // 등록버튼 클릭시 팝업
        $('#shop-add').on('click', function(){

            let width = 1000;
            let height = 700;

            let left = Math.ceil(( window.screen.width - width )/2);
            let top = Math.ceil(( window.screen.height - height )/2);

            let windowStatus = 'width='+width+', height='+height+', left='+left+', top='+top+', scrollbars=no, status=no, resizable=no, titlebar=no, location=no, toolbar=no, menubar=no';

            const url = "adminShopAdd";

            window.open(url, "상점상품등록", windowStatus);
        });

        // 수정 모달 띄우기
        $(document).on('click','.modal-show', function(){
            let selfCropsGradeCode = $(this).closest('tr').find('.chb-down').data('self-check-crops-grade-code');
            console.log(selfCropsGradeCode);

            $.ajax({
                url: "/adminSelfCheck/productGrade/modifyProductGradeData",
                data:selfCropsGradeCode,
                type: "POST",
                contentType: 'text/plain',
                success: function(response) {
                    selfCheckCropsGradeCode = response.selfCheckCropsGradeCode;
                    urbanfarmAdminId = response.urbanfarmAdminId;
                    db_productGrade = response.productGrade;
                    db_productHighGrade = response.productHighGrade;
                    db_productLowGrade = response.productLowGrade;

                    $('#selfCheckCropsGradeCode').text(selfCheckCropsGradeCode);
                    $('#urbanfarmAdminId').val(urbanfarmAdminId);
                    $('#productGrade').val(db_productGrade);
                    $('#productHighGrade').val(db_productHighGrade);
                    $('#productLowGrade').val(db_productLowGrade);
                    $('#modifyModal').modal('show');
                },
                fail: function(jqXHR, textStatus, errorThrown) {
                    alert('오류가 발생했습니다. ' + textStatus + ': ' + errorThrown);
                }
            })
        })

        // 수정모달 다시쓰기 버튼 실행
        $('#rollBackBtn').on('click', function(){
            $('#urbanfarmAdminId').val(urbanfarmAdminId);
            $('#productGrade').val(db_productGrade);
            $('#productHighGrade').val(db_productHighGrade);
            $('#productLowGrade').val(db_productLowGrade);
        })

        // 수정모달 수정취소 버튼
        $('#modifyCancleBtn').on('click', function(){
            $('#modifyModal').modal('hide');
        })

        // 수정모달 수정하기 버튼
        $(document).on('click', '#modifyBtn', function (){
            let productGrade = $('#productGrade').val();
            let productHighGrade = $('#productHighGrade').val();
            let productLowGrade = $('#productLowGrade').val();

            const data = {};

            // 요소 중 값 변한 요소 있는지 체크 후 ajax 실행
            if(productGrade != db_productGrade){
                data.productGrade = productGrade;
            };
            if(productHighGrade != db_productHighGrade){
                data.productHighGrade = productHighGrade;
            }
            if(productLowGrade != db_productLowGrade){
                data.productLowGrade = productLowGrade;
            }

            data.selfCheckCropsGradeCode = selfCheckCropsGradeCode;

            if(Object.keys(data).length > 1){
                $.ajax({
                    url: "/adminSelfCheck/productGrade/modifyUpdateProductGrade",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: 'application/json',
                    success: function(response){
                        alert('수정되었습니다.');

                        table.ajax.reload();

                        $('#modifyModal').modal('hide');
                    },
                    fail: function(jqXHR, textStatus, errorThrown) {
                        alert('오류가 발생했습니다. ' + textStatus + ': ' + errorThrown);
                    }
                })
            } else {
                alert('변경된 내용이 없습니다.');
            }
        })



        // 삭제하기 클릭시 팝업
        $('#shop-remove').on('click', function (){

            if(confirm('정말로 삭제하시겠습니까?')) {
                const checkedEle = $('.chb-down:checked');
                const codeArr = [];

                checkedEle.each(function(idx, item){
                    console.log(item.dataset);
                    const goodsKitCode = item.dataset.goodsKitCode;
                    codeArr.push(goodsKitCode);
                });

                $.ajax({
                    url: "/adminSelfCheck/productGrade/removeProductGrade",
                    data:JSON.stringify({ checkedData: codeArr }),
                    type: "POST",
                    contentType: 'application/json',
                    success: function(response) {
                        console.log(codeArr);
                        alert('삭제되었습니다.');

                        table.ajax.reload();
                    },
                    fail: function(jqXHR, textStatus, errorThrown) {
                        alert('오류가 발생했습니다. ' + textStatus + ': ' + errorThrown);
                    }
                })
            } else {
                return false;
            }
        });

        // 신청하기 버튼
        // ks47team01\src\main\resources\templates\user_order\order_processing.html
        if($('.orderProcessingSubmit').length > 0){
            function orderProcessingSubmit() {
                alert('신청이 완료되었습니다.');
                window.close();
            }
            $('.orderProcessingSubmit').on('click', orderProcessingSubmit);
        }
    </script>
</th:block>
</html>



