<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user_layout/default}">
<th:block layout:fragment="customJs">
    <script type="text/javascript">

	const validCheck = element => {
		let data = $(element).val();
		let eleId = $(element).attr('id');
		
		if(eleId == $('#addressDeliveryRequestEtc')) {
			
			return true;
			
			if(typeof data == 'undefined' || data == null || data == ''){
				let cate = $(`label[for="${eleId}"]`).text();
				alert(`[${cate}] 필수 입력항목입니다.`);
				$(element).focus();
				return false; 
				
			}
			
		}
		
			return true;
			
	}

	$('#addUserAddrBtn').click(function(){
		const validateEle = $('#addUserAddrForm input');
		let isSubmit = false;
		let $phoneSize = $('#urbanfarmerAddressPhone').size
		
		validateEle.each((idx, item) => {    				
			isSubmit = validCheck(item);
			return isSubmit;
		})
		if(isSubmit) {
			
			let msg = '주소등록을 성공하셨습니다.';
				
				if(verifyName()) {
					
					if(verifyAddress()) {
						
						if($('#urbanfarmerAddressPhone').val().length == 9) {
							
							if(verifyDelivery()) {
								$('#addUserAddrForm').submit();
							} else {
								msg = '요청사항을 골라주세요';
							}
						} else {
							msg = '전화번호를 제대로 입력해주세요';
						}
						
					} else {
						msg = '배송지 주소를 입력해주세요';					
					}
			} else {
				msg = '배송지의 이름을 입력해주세요';
			}
			
			alert(msg);
		}
	})
		
    	
	const autoHyphen2 = (target) => {
		 target.value = target.value
		   .replace(/[^0-9]/g, '')
		  .replace(/^(\d{0,4})(\d{0,4})$/g, "$1-$2").replace(/(\-{1,2})$/g, "");
		}
    	
    	requestEtc = function() {
			return true;    		
    	}
  	
  	verifyAddress = function() {
  		var addressVal = $('#urbanfarmerAddress').val();
  		if(addressVal != null) {
  			return true;
  		} else {
  			return false;
  		}
  	}
  	verifyName = function() {
  		var nameVal = $('#urbanfarmerAddressName').val();
  		if(nameVal != null) {
  			return true;
  		} else {
  			return false;
  		}
  	}
  	
	verifyDelivery = function() {
		var deliveryVal = $("#addressDeliveryRequestCode option:selected").val();
		if(deliveryVal != '') {
			return true
		} else {
			false;
		}
	}    	
    	
    </script>
</th:block>      
<th:block layout:fragment="customContents">
    <section class="ftco-section contact-section bg-light">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-6 order-md-last d-flex">
                <form th:action="@{/user/addUserAddr}" th:object="${urbanfarmer}" method="post"
                      id="addUserAddrForm" class="bg-white p-5 contact-form">
                      
						<div class="input-group mb-3">
						  <div class="form-floating col-9">
						    <input type="text" class="form-control" id="urbanfarmerAddressName" name="urbanfarmerAddressName" placeholder="배송지 이름을 입력해주세요">
						    <label for="urbanfarmerAddressName">배송지 이름</label>
						  </div>
						</div>
						<div class="input-group mb-3">
						  <div class="form-floating col-9">
						    <input type="text" class="form-control" id="urbanfarmerAddress" name="urbanfarmerAddress" placeholder="배송지를 입력해주세요">
						  	<label for="urbanfarmerAddress">배송지 주소</label>
						  </div>
						</div>
						<div class="input-group mb-3">
						  <div class="form-floating col-11">
						  	<div class="row pt-1 mb-1">
						  	<select class="form-control col-2"> <option value="010" disabled="disabled" selected="selected"> 010 </option> </select>
						    <input type="text" class="form-control col-8" id="urbanfarmerAddressPhone" placeholder="전화번호를 작성해주세요" oninput="autoHyphen2(this)"
						    maxlength="9" name="urbanfarmerAddressPhone">
						  	</div>
						  	<label for="urbanfarmerAddressPhone">휴대번호</label>						    
						  </div>
						</div>												
						<div class="input-gr	oup mb-3">
						  <div class="form-floating col-9">
						  	<select id="addressDeliveryRequestCode" name="addressDeliveryRequestCode" class="form-select px-5 py-2">
						  		<option class="request" value="">===요청 사항을 골라주세요===</option>
						  <th:block th:unless="${#lists.isEmpty(addressDeliveryRequestList)}"
						  			th:each="l : ${addressDeliveryRequestList}">
						  		<option class="request" th:value="${l.addressDeliveryRequestCode}">[[${l.addressDeliveryRequestContent}]]</option>
						  	
						  </th:block>
						  <th:block th:if="${#lists.isEmpty(addressDeliveryRequestList)}">
									<option th:value="">등록된 요청사항이 없습니다</option>
						  </th:block>
						  	</select>
						  	<p>
						  		<label for="addressDeliveryRequestCode">배송지 요청사항</label>	
						  	</p>
						  </div>
						</div>
						<div class="input-group mb-3">
						  <div class="form-floating col-9">
						    <input type="text" class="form-control" id="addressDeliveryRequestEtc" name="addressDeliveryRequestEtc" placeholder="-는 생략가능">
						  	<label for="addressDeliveryRequestEtc">배송지 추가 요청사항</label>						    
						  </div>
						</div>
					<div class="form-group" style="text-align:right">
                    		 <button id="addUserAddrBtn" type="button" class="btn btn-info py-2 px-4">배송지 등록</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</th:block>

</html>