<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user_layout/default}">
<th:block layout:fragment="customContents">
	
	<th:block>
	<table>
	  	<tr th:unless="${#lists.isEmpty(AddressDeliveryRequestList)}" th:each="l : ${AddressDeliveryRequestList}" >
		    <th >
		    	<select>
					<option th:value="${l.addressDeliveryRequestContent}">[[${l.levelName}]]</option>
		    	</select>
		    </th>
	  </tr>
	</table>
	</th:block>
</th:block>

</html>