<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user_layout/default}">

<th:block layout:fragment="customContents">
	<a style="color: #0b0b0b" th:href="@{'/userSelectselltohub/selectsellHub'}">허브 선택으로 이동</a>
	<section class="ftco-section ftco-cart">
		<div class="container">
			<div class="row">
				<div class="col-md-12 ftco-animate">
					<div>
						<table class="table">
							<thead class="thead-primary">
								<tr class="text-center">
									<th>&nbsp;</th>
									<th>&nbsp;</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-center">
									<td class="image-prod col-md-2">
										<div>
											<img class="thumb" src="/user/images/product-2.jpg">
										</div>
									</td>
									<td class="col-md-10">
										<h3>어반팜 피망키트 - 초급자용</h3>
										<p>맛있는 피망</p>
									</td>
								</tr><!-- END TR-->
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>
<th:block layout:fragment="customJs">
	<script>
		$(document).on('click', '.table tr', function () {
			$(this).css('background-color', 'blue');
		});
	</script>

</th:block>

</html>