<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default_admin}">
<th:block layout:fragment="customContents">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>plantpick 회원 리스트<small>플랜트픽 회원 목록입니다.</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>회원등급</th>
                                <th>회원 아이디</th>
                                <th>회원 이름</th>
                               
                                <th>가입일자</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>일반회원</td>
                            <td>id001</td>
                            <td>홍길동</td>
                          
                            <td>2023. 5. 1 오전 10:30:00</td>
                            <td>
                                <button type="button" class="btn btn-warning modifyBtn">수정</button>
                                <button type="button" class="btn btn-danger removeBtn">삭제</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>상급</td>
                            <td>90</td>
                            <td>80</td>
                           
                            <td>2023. 5. 1 오전 10:30:00</td>
                            <td>
                                <button type="button" class="btn btn-warning modifyBtn">수정</button>
                                <button type="button" class="btn btn-danger removeBtn">삭제</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>일반</td>
                            <td>80</td>
                            <td>70</td>
                            
                            <td>2023. 5. 1 오전 10:30:00</td>
                            <td>
                                <button type="button" class="btn btn-warning modifyBtn">수정</button>
                                <button type="button" class="btn btn-danger removeBtn">삭제</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="customJs">
    <script type="text/javascript">
        const $modifyBtns = document.querySelectorAll('.modifyBtn');

        $modifyBtns.forEach(function(btn){
            btn.addEventListener('click', function(){
                window.location.href = '/adminPlantPick/PlantPickUserListUpdate'
            })
        })
    </script>
</th:block>
</html>



