<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block layout:fragment="customJs">
<script type="text/javascript">
// 이메일 인증번호
$("#checkEmail").click(function() {
   $.ajax({
      type : "POST",
      url : "/login/mailCheck",
      data : {"email" : $("#memail").val()},
      
      success : function(data){
         alert("해당 이메일로 인증번호 발송이 완료되었습니다. \n 확인부탁드립니다.")
         console.log("data : "+ data);
         chkEmailConfirm(data, $memailconfirm, $memailconfirmTxt);
      }
   })
})

	// 이메일 인증번호 체크 함수
	function chkEmailConfirm(data, $memailconfirm, $memailconfirmTxt){
		$("#memailconfirm").on("keyup", function(){
			if (data != $memailconfirm.val()) { //
				emconfirmchk = false;
				$("#memailconfirmTxt").html("<span id='emconfirmchk'>인증번호가 잘못되었습니다</span>")
				$("#emconfirmchk").css({
					"color" : "#FA3E3E",
					"font-weight" : "bold",
					"font-size" : "10px"

				})
				//console.log("중복아이디");
			} else { // 아니면 중복아님
				emconfirmchk = true;
				$("#memailconfirmTxt").html("<span id='emconfirmchk'>인증번호 확인 완료</span>")

				$("#emconfirmchk").css({
					"color" : "#0D6EFD",
					"font-weight" : "bold",
					"font-size" : "10px"

				})
			}
		})
	}
</script>
</th:block>
<body>


<th:block layout:fragment="customContents">
			<!-- <span>이메일 </span> -->
				<div th:fragment="sendFragment">
                            <div class="form-group">
					<div class="form-group last mb-4 email_input">
                                <label for="memail" id="mailTxt" class="control-label col-md-3 col-sm-3 col-xs-12">이메일을 입력해주세요</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input type="text" class="form-control" name="memail" id="memail">
                                </div>
						<button class="btn btn-outline-primary" type="button" id="checkEmail">인증번호 요청</button>
					</div>
				</div>				
						
							
						

								<!-- <span>이메일 인증번호</span> -->
	
                            <div class="form-group">
					<div class="form-group last mb-4 check_input" >
                                <label for="emailCode" id="emailCodeTxt" class="control-label col-md-3 col-sm-3 col-xs-12">인증번호를 입력해주세요</label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input type="text" class="form-control" id="emailCode" name="emailCode">
                                </div>
                                <button class="btn btn-outline-primary" type="submit" id="confirmBtn"> 인증번호 확인 </button>
                            </div>
                            </div>				
						
						
						
				</div>
</th:block>
</body>
</html>