<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user_layout/default}">
<th:block layout:fragment="customContents">
	<section class="ftco-section contact-section bg-light">
		<div class="container"></div>
		<div id="urbanfarm_login_heading" th:text="${session.S_name} + '님 마이페이지'">  </div>
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-6 order-md-last d-flex">
				<form action="/userLogin/userLoginAction" method="post"
					class="urbanfarm_login_form bg-white p-5 contact-form">
					<div class="form-group">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
					  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
					</svg>
						<a th:href="@{/userInfo/userInfoPage}" style="color:black"> 회원정보 수정 </a>
					</div>
					<div class="form-group">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-fill" viewBox="0 0 16 16">
					  <path d="M1.5 3A1.5 1.5 0 0 0 0 4.5V6a.5.5 0 0 0 .5.5 1.5 1.5 0 1 1 0 3 .5.5 0 0 0-.5.5v1.5A1.5 1.5 0 0 0 1.5 13h13a1.5 1.5 0 0 0 1.5-1.5V10a.5.5 0 0 0-.5-.5 1.5 1.5 0 0 1 0-3A.5.5 0 0 0 16 6V4.5A1.5 1.5 0 0 0 14.5 3h-13Z"/>
					</svg>				
						<a th:href="@{/user/userCoupon}" style="color: black"> 쿠폰 </a>
					</div>
					<div class="form-group">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
					  <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
					</svg>					
						<a th:href="@{/user/userAddrList}" style="color: black"> 배송지 </a>
					</div>
					
				</form>
			</div>
		</div>
	</section>
</th:block>

</html>