<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user_layout/default}">
<th:block layout:fragment="customContents">
	<section class="ftco-section contact-section bg-light">
		<div class="container"></div>
		<div id="urbanfarm_login_heading">로그인</div>
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-6 order-md-last d-flex">
				<form th:action="@{/}"
					class="urbanfarm_login_form bg-white p-5 contact-form">
					 <div class="form-floating">
					<div class="form-group">
						<input type="text" class="form-control" name="userId" placeholder="id를 입력해주세요">
					</div>
					<div class="form-group">
						<input type="password" class="form-control" name="userPw" placeholder="**********">
					</div>
					<div class="form-group" style="text-align: right">
						<!-- <input type="submit" value="Login" class="btn btn-primary py-3 px-5"> 
						기능 구현시 주석 및 a태그 삭제 -->
						<button type="submit" class="btn btn-info py-2 px-4"> 로그인 </button>
					</div>
					<div class="form-group">
						<a class="btn btn-secondary urbanfarm_login_form_find_btn py-2 px-4" th:href=@{/userAdd/userAddForm}>
							회원가입
						</a>
						<a class="btn btn-secondary urbanfarm_login_form_find_btn py-2 px-4" th:href="@{/userFind/userFindIdForm}">
							아이디 찾기
						</a>
						<a class="btn btn-secondary urbanfarm_login_form_find_btn py-2 px-4" th:href="@{/userFind/userFindPwForm}">
							비밀번호 찾기
						</a>
					</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</th:block>

</html>