<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user_layout/default}">
	
<head>
	<style type="text/css">
		.left-margin{
			margin-left: 30px;		
		}
	</style>
</head>
<th:block layout:fragment="customJs">
	<script type="text/javascript" th:inline="javascript">
		let msg = '[[${msg}]]';
		if (msg != 'null') alert(msg);

		const validCheck = element => {
			let data = $(element).val();
			let eleId = $(element).attr('id');
			if (typeof data == 'undefined' || data == null || data == '') {
				let cate = $(`label[for="${eleId}"]`).text();
				alert(`${cate} 필수 입력항목입니다.`);
				$(element).focus();
				return false;
			}
			return true;
		}

		$('#loginBtn').click(function (e) {
			e.preventDefault(); // 요소의 기본 이벤트 동작 방지
			const validateEle = $('#loginForm input');
			let isSubmit = false;
			validateEle.each((idx, item) => {
				isSubmit = validCheck(item);
				return isSubmit;
			})
			if (isSubmit) $('#loginForm').submit();
		});


	</script>

</th:block>
<th:block layout:fragment="customContents">
	<section class="ftco-section contact-section bg-light">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-6 order-md-last d-flex">
				<form id="loginForm" th:action="@{/userLogin/userLogin}" method="post"
					class="urbanfarm_login_form bg-white p-5 contact-form">
					<div class="form-floating">
						<br><br>
						<div class="form-group">
							<input type="text" class="form-control" id="urbanfarmerId" name="urbanfarmerId"
								placeholder="id를 입력해주세요">
							<label for="urbanfarmerId">아이디</label>
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="urbanfarmerPw" name="urbanfarmerPw"
								placeholder="**********">
							<label for="urbanfarmerPw">비밀번호</label>
						</div>
						<div class="row">
							<div class="col-md-9 row">
								<div>
									<a class="btn btn-secondary  py-2 px-4"
										th:href=@{/userAdd/userAddForm}>
										회원가입
									</a>
								</div>
								<div >
									<a class="btn btn-secondary  py-2 px-4"
										th:href="@{/userFind/userFindIdForm}">
										아이디 찾기
									</a>
								</div>
								<div>
									<a class="btn btn-secondary  py-2 px-4"
										th:href="@{/userFind/userFindPwForm}">
										비밀번호 찾기
									</a>
								</div>
							</div>
							<div class="col-md-3 d-flex justify-content-right left-margin">
								<div>
									<button type="submit" class="btn btn-info py-2 px-4 float-right" id="loginBtn" > 로그인 </button>
								</div>
							</div>
						</div>


					</div>
				</form>
			</div>
		</div>
	</section>
</th:block>

</html>