<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default_admin}">
<head>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let cropsSelfCheckCode = /*[[${cropsSelfCheck.cropsSelfCheckCode}]]*/ 'default';
        let urbanfarmAdminId = /*[[${cropsSelfCheck.urbanfarmAdminId}]]*/ 'default';
        let cropsNameCode = /*[[${cropsSelfCheck.cropsNameCode}]]*/ 'default';
        let cropsName = /*[[${cropsSelfCheck.cropsName}]]*/ 'default';
        /*]]>*/
    </script>
</head>
<th:block layout:fragment="customContents">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>자가검증 질문 등록<small>자가검증 질문을 입력하세요.</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_panel">
                    <div class="row">
                        <h1>
                            [[${cropsSelfCheck.getCropsName()}]] <small>자가검증 질문 등록</small>
                        </h1>
                        <h3>
                           <small>자가검증 질문 코드:  </small>[[${cropsSelfCheck.getCropsSelfCheckCode()}]]
                        </h3>
                        <div class="ajs-h-blank-50"></div>
                    </div>
                    <div id="questionBody" >
                        <form id="questionAddForm" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="questionAddInput">
                                <div class="form-group row">
                                    <label class="ajs-text-title control-label col-md-3 col-sm-3 col-xs-12">#
                                    </label>
                                    <div class="questionNum ajs-text-title">1</div>
                                </div>
                                <div class="form-group">
                                    <label class="selfCheckQuestionTitleContent control-label col-md-3 col-sm-3 col-xs-12">질문 제목</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="selfCheckQuestionTitleContent" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="selfCheckQuestionPremiumCheck control-label col-md-3 col-sm-3 col-xs-12">특급 질문</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="selfCheckQuestionPremiumCheck" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="selfCheckQuestionSuperiorCheck control-label col-md-3 col-sm-3 col-xs-12">상급 질문</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="selfCheckQuestionSuperiorCheck" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="selfCheckQuestionRegularCheck control-label col-md-3 col-sm-3 col-xs-12">일반 질문</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="selfCheckQuestionRegularCheck" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6 text-right">
                                        <button type="button" class="btn btn-success questionAddBtn">추가</button>
                                    </div>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                        </form>
                    </div>
                </div>
                <div>
                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-success addQuestionBtn">질문등록하기</button>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="customJs">
    <script type="text/javascript">


        console.log(urbanfarmAdminId);
        // 질문 추가 버튼 액션
        $(document).on('click', '.questionAddBtn', function(){
            // questionAddInput div의 마지막 div를 선택
            const $divLast = $('.questionAddInput').last();

            // 마지막 div를 복사
            const $divLastClone = $divLast.clone();

            // 마지막 input div의 마지막 div에 있는 버튼의 클래스를 삭제 버튼 클래스로 변환
            $divLast.last().find('.col-md-6').find('button').removeClass('questionAddBtn').removeClass('btn-success')
                    .addClass('btn-danger').addClass('questionRemoveBtn').text('삭제');

            // 복사한 div의 값을 초기화
            $divLastClone.find('input').val('');

            // 복사한 div를 폼 안에 넣음
            $divLastClone.appendTo('#questionAddForm');

            // div의 질문 번호를 업데이트
            $('.questionAddInput').each(function (index){
                $(this).find('.questionNum').text(index + 1);
            })
        })

        //질문 삭제 버튼 클릭
        $(document).on('click', '.questionRemoveBtn', function (){
            $(this).closest('div.questionAddInput').remove();

            // 삭제 후 질문 번호를 업데이트
            $('.questionAddInput').each(function (index){
                $(this).find('.questionNum').text(index + 1);
            })
        })

        // 질문 등록 버튼
        $(document).on('click', '.addQuestionBtn', function(){
            // 서버로 전송할 데이터
            let inputInsertData = [];

            // 서버로 전송할 데이터 배열에 데이터를 객체에 담아 넣는 반복문
            $('.questionAddInput').each(function(idx, item){

                // 화면에 입력한 데이터들 변수에 담기
                let inputSelfCheckQuestionTitleContent = $(item).find('input[name="selfCheckQuestionTitleContent"]').val();
                let inputSelfCheckQuestionPremiumCheck = $(item).find('input[name="selfCheckQuestionPremiumCheck"]').val();
                let inputSelfCheckQuestionSuperiorCheck = $(item).find('input[name="selfCheckQuestionSuperiorCheck"]').val();
                let inputSelfCheckQuestionRegularCheck = $(item).find('input[name="selfCheckQuestionRegularCheck"]').val();
                let selfCheckQuestionOrder = idx + 1;

                // 유효성 검사시 알릴 라벨 문구
                let labelSelfCheckQuestionTitleContent = $(item).find('label.selfCheckQuestionTitleContent').text();
                let labelSelfCheckQuestionPremiumCheck = $(item).find('label.selfCheckQuestionTitleContent').text();
                let labelSelfCheckQuestionSuperiorCheck = $(item).find('label.selfCheckQuestionTitleContent').text();
                let labelSelfCheckQuestionRegularCheck = $(item).find('label.selfCheckQuestionTitleContent').text();

                // 유효성 검사를 위한 객체
                const validObj = {};
                validObj[labelSelfCheckQuestionTitleContent] = inputSelfCheckQuestionTitleContent;
                validObj[labelSelfCheckQuestionPremiumCheck] = inputSelfCheckQuestionPremiumCheck;
                validObj[labelSelfCheckQuestionSuperiorCheck] = inputSelfCheckQuestionSuperiorCheck;
                validObj[labelSelfCheckQuestionRegularCheck] = inputSelfCheckQuestionRegularCheck;

                // 유효성 검사
                for(let [key, value] of Object.entries(validObj)){
                    if(typeof value == 'undefined' || value == null || value == ''){
                        alert(`[${selfCheckQuestionOrder}번 질문]의 [${key}]이 입력되지 않았습니다.`);
                        $(item).focus();
                        return false;
                    }
                }

                // 서버에 보낼 입력 데이터 객체
                const selfCheckQuestion = {};

                // 객체에 정보 담기
                selfCheckQuestion.urbanfarmAdminId = urbanfarmAdminId;
                selfCheckQuestion.cropsSelfCheckCode = cropsSelfCheckCode;
                selfCheckQuestion.cropsNameCode = cropsNameCode;
                selfCheckQuestion.cropsName = cropsName
                selfCheckQuestion.selfCheckQuestionTitleContent = inputSelfCheckQuestionTitleContent;
                selfCheckQuestion.selfCheckQuestionPremiumCheck = inputSelfCheckQuestionPremiumCheck;
                selfCheckQuestion.selfCheckQuestionSuperiorCheck = inputSelfCheckQuestionSuperiorCheck;
                selfCheckQuestion.selfCheckQuestionRegularCheck = inputSelfCheckQuestionRegularCheck;
                selfCheckQuestion.selfCheckQuestionOrder = selfCheckQuestionOrder;

                inputInsertData.push(selfCheckQuestion);
            })

            console.log(inputInsertData);

            $.ajax({
                url: '/adminSelfCheck/question/insertSelfCheckQuestion',
                type: 'post',
                data: JSON.stringify(inputInsertData),
                contentType: "application/json; charset=utf-8",
                success: function (response) {

                    alert('등록되었습니다.');

                    window.location.href = "/adminSelfCheck/question/listVerificationQuestion";

                },
                fail: function (jqXHR, textStatus, errorThrown) {
                    alert('오류가 발생했습니다. ' + textStatus + ': ' + errorThrown);
                }
            })
        })

    </script>
</th:block>
</html>



