<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default_admin_popup}">
<head>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let cropsNameCode = /*[[${cropsSelfCheck.cropsNameCode}]]*/ 'default';
        /*]]>*/
    </script>
</head>
<th:block layout:fragment="customContents">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4 style="display: inline-block;">자가검증 질문 수정</h4>
                <span class="right-text" id="pop-up-today"></span>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form id="modifyForm" action="/adminSelfCheck/question/updateCropsSelfCheck" class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">작물 검증 질문 코드</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" th:value="${cropsSelfCheck.cropsSelfCheckCode}" class="form-control" disabled="disabled" id="cropsSelfCheckCode" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">작성자 아이디</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" th:value="${cropsSelfCheck.urbanfarmAdminId}" class="form-control" disabled="disabled" id="urbanfarmAdminId" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">작물 이름 코드</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" disabled="disabled" th:value="${cropsSelfCheck.cropsNameCode}"
                                   id="cropsNameCode" placeholder="선택된 상품 키트 코드의 키트 이름 자동으로 들어와야 함" maxlength="50">
                        </div>
                        <!-- 작물 선택 모달 트리거 버튼 -->
                        <button type="button" class="btn btn-primary" id="cropChooseBtn" data-toggle="modal" data-target="#cropChooseModal">
                            작물선택
                        </button>
                    </div>

                    <!-- 작물 선택 모달 -->
                    <div class="modal fade" id="cropChooseModal" tabindex="-1" role="dialog" aria-labelledby="cropChooseModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="cropChooseModalLabel">작물 선택</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-4">
                                            <select id="cropsSearchColumn" class="form-control">
                                                <option value="crops_name_code">작물 코드</option>
                                                <option value="crops_name">작물 이름</option>
                                            </select>
                                        </div>
                                        <div class="">
                                            <div class="input-group">
                                                <input id="cropsSearchValue" type="text" class="form-control">
                                                <span class="input-group-btn">
                                                            <button id="cropsSearchBtn" type="button" class="btn btn-primary">검색</button>
                                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="x_panel">
                                                <div class="x_title">
                                                    <h2>작물 목록</h2>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">

                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>작물 코드</th>
                                                            <th>작물 이름</th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="cropsTable">
                                                        <tr>
                                                            <th scope="row"></th>
                                                            <td class="cropsNameCode"></td>
                                                            <td class="cropsName"></td>
                                                            <td class="text-right">
                                                                <button type="button" class="btn btn-success cropsSelectBtn">작물 선택</button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="cropChooseCloseBtn" data-dismiss="modal">닫기</button>
                                    <button type="button" id="resetBtn" class="btn btn-warning">입력 취소</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">작물 이름</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" readonly th:value="${cropsSelfCheck.cropsName}"
                                   id="cropsName" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">등록 시간</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" disabled="disabled" th:value="${cropsSelfCheck.corpsSelfCheckRegDate}" id="corpsSelfCheckRegDate" maxlength="50">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group row">
                        <div class="col-md-3 col-sm-3 col-xs-12"></div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <button type="button" class="btn btn-primary windowClose">취소</button>
                            <button type="reset" class="btn btn-primary">리셋</button>
                            <button id="modifyBtn" type="button" class="btn btn-success">수정</button>
                        </div>
                        <div class="col-md-3">
                            <button id="showDetailQuestion" type="button" class="btn btn-warning ">상세질문보기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row" id="selfCheckQuestionForm" style="display: none">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>상세 질문 수정</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_panel">
                    <div id="questionBody" >
                        <form id="questionAddForm" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="questionAddInput">
                                <div class="form-group row">
                                    <label class="ajs-text-title control-label col-md-3 col-sm-3 col-xs-12">#
                                    </label>
                                    <div class="questionNum ajs-text-title">1</div>
                                </div>
                                <div class="form-group">
                                    <label class="selfCheckQuestionTitleContent control-label col-md-3 col-sm-3 col-xs-12">질문 제목</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="selfCheckQuestionTitleContent" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="selfCheckQuestionPremiumCheck control-label col-md-3 col-sm-3 col-xs-12">특급 질문</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="selfCheckQuestionPremiumCheck" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="selfCheckQuestionSuperiorCheck control-label col-md-3 col-sm-3 col-xs-12">상급 질문</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="selfCheckQuestionSuperiorCheck" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="selfCheckQuestionRegularCheck control-label col-md-3 col-sm-3 col-xs-12">일반 질문</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="selfCheckQuestionRegularCheck" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-12"></div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                                        <button type="button" class="btn btn-success questionAddBtn">추가</button>
                                    </div>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                        </form>
                    </div>
                    <div class="ajs-h-blank-50"></div>
                    <div>
                        <div class="col-md-3 col-sm-3 col-xs-12"></div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <button type="button" class="btn btn-success addQuestionBtn">상세질문등록하기</button>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="customJs">
    <script type="text/javascript">

        // 팝업 창이 열릴 때 작물 이름 코드 값을 가져옴(등록시 비교하여 같은 값이면 서버에 요청하지 않음)
        let $cropCodeName;

        // DataBase selfCheckQuestion 객체 배열
        const $selfCheckQuestionArr = [];

        // form input value 객체 배열
        const $formSelfCheckQuestionArr = [];

        // form input value의 늘어난 질문을 담는 배열
        const overQuestionArr = [];

        // 바뀐 값을 담는 배열
        const changedValueArr = [];

        // 서버로 전송할 객체 배열
        const updateDataArr = [];

        // 객체와 키를 받아서 서버로 전송할 객체 배열에 키와 값을 세팅
        function addUpdateValue(key, item){
            updateDataArr.forEach(function (updateItem){
                if(updateItem['selfCheckQuestionCode'] == item['selfCheckQuestionCode']){
                    updateItem[key] = item[key];
                };
            });
        }

        // 값이 변했는지 체크하고 바뀐 값을 배열에 넣어주고, 값이 변했는지를 반환해주는 함수
        function changedValueCheck(arr1, arr2){
            // 값이 변했는지 확인하는 변수
            let isChanged = false;

            for(let i = 0; i < arr1.length; i++){
                // 현재 form의 값을 가진 객체
                let obj1 = arr1[i];
                // DB에 있는 값을 가진 객체
                let obj2 = arr2[i];

                // form의 값을 가진 객체를 순회
                for(let key in obj1){
                    // form의 값을 가진 객체의 값과 DB의 값을 가진 객체의 비교
                    if(obj1[key] !== obj2[key]){
                        const changedValue = {
                            // 수정된 값의 객체를 찾을 code 값을 같이 넣어줌
                            selfCheckQuestionCode: obj2['selfCheckQuestionCode'],
                            // 수정된 값
                            [key]: obj1[key]
                        };
                        // 바뀐 값을 바뀐 값 배열에 담음
                        changedValueArr.push(changedValue);

                        isChanged = true;
                    }
                }
            }
            return isChanged;
        }

        $(document).on('click', '.questionAddBtn', function(){
            // questionAddInput div의 마지막 div를 선택
            const $divLast = $('.questionAddInput').last();

            // 마지막 div를 복사
            const $divLastClone = $divLast.clone();

            // 마지막 input div의 마지막 div에 있는 버튼의 클래스를 삭제 버튼 클래스로 변환
            $divLast.last().find('.col-md-6').find('button').removeClass('questionAddBtn btn-success')
                .addClass('questionRemoveBtn btn-danger').text('삭제');

            // 복사한 div의 값을 초기화
            $divLastClone.find('input').val('');

            // 복사한 div를 폼 안에 넣음
            $divLastClone.appendTo('#questionAddForm');

            // div의 질문 번호를 업데이트
            $('.questionAddInput').each(function (index){
                $(this).find('.questionNum').text(index + 1);
            })
        })

        //질문 삭제 버튼 클릭
        $(document).on('click', '.questionRemoveBtn', function (){
            $(this).closest('div.questionAddInput').remove();

            // 삭제 후 질문 번호를 업데이트
            $('.questionAddInput').each(function (index){
                $(this).find('.questionNum').text(index + 1);
            })
        })

        const $cloneCropsTr = $('#cropsTable').find('tr').last().clone();
        // 유효성검사 함수
        const validCheck = element => {
            let data = $(element).val();
            let eleId = $(element).attr('id');
            console.log(eleId);

            if(typeof data == 'undefined' || data == null || data == '' ){
                if(eleId === 'cropName'){

                    let cate = $(`label[for="${eleId}"]`).text();
                    alert(`[${cate}] 필수 입력항목입니다.`);
                    $(element).focus();

                    return false;
                }

                alert('검색어는 필수입력 항목입니다.');

                return false;
            }
            return true;
        }

        // 작물 선택 버튼 클릭시 ajax로 작물 리스트 가져오기

        $('#cropChooseModal').on('show.bs.modal', function (){
            $.ajax({
                url: '/adminSelfCheck/question/listCrops',
                type: 'GET',
                contentType: 'application/json',
                success: function(response){
                    console.log(response);
                    response.forEach(function(item, index){
                        const $lastTr = $('#cropsTable').find('tr').last();
                        $lastTr.find('th').text(index + 1);
                        $lastTr.find('td.cropsName').text(item.cropsName);
                        $lastTr.find('td.cropsNameCode').text(item.cropsNameCode);

                        // 전역 변수에도 cropsNameCode의 값을 넣어주어서 값이 변했는지 알 수 있게 한다.
                        $cropCodeName = item.cropsNameCode;

                        if(index < response.length - 1){
                            const $cloneTr = $lastTr.clone();
                            $('#cropsTable').append($cloneTr);
                        }
                    })
                },
                fail:function(jqXHR, textStatus, errorThrown) {
                    alert('오류가 발생했습니다. ' + textStatus + ': ' + errorThrown);
                }
            })
        })

        // 작물 모달 검색버튼 클릭시 검색어에 따라 리스트 가져오기
        $('#cropsSearchBtn').on('click', function (){
            const validateEle = []
            validateEle.push($('#cropsSearchColumn'));
            validateEle.push($('#cropsSearchValue'));
            console.log(validateEle);
            let isSubmit = false;
            const searchData = {}

            $(validateEle).each((idx, item) => {
                isSubmit = validCheck(item);
                let id = $(item).attr('id');
                searchData[id] = $(item).val();
                return isSubmit;
            })
            console.log(searchData);
            if(isSubmit){
                $.ajax({
                    url: '/adminSelfCheck/question/cropsSearch',
                    type: 'POST',
                    data: JSON.stringify(searchData),
                    contentType: 'application/json',
                    success: function (response){

                        $('#cropsTable').empty();
                        $('#cropsTable').append($cloneCropsTr);
                        response.forEach(function(item, index){
                            const $lastTr = $('#cropsTable').find('tr').last();
                            $lastTr.find('th').text(index + 1);
                            $lastTr.find('td.cropsName').text(item.cropsName);
                            $lastTr.find('td.cropsNameCode').text(item.cropsNameCode);
                            if(index < response.length - 1){
                                const $cloneTr = $lastTr.clone();
                                $('#cropsTable').append($cloneTr);
                            }
                        })
                    },
                    fail:function(jqXHR, textStatus, errorThrown) {
                        alert('오류가 발생했습니다. ' + textStatus + ': ' + errorThrown);
                    }
                })
            }
        })

        //모달에서 작물 선택 버튼 클릭시
        $(document).on('click', '.cropsSelectBtn', function (){
            const $thisTr = $(this).closest('tr')
            let $cropsNameCodeVal = $thisTr.find('td.cropsNameCode').text();
            let $cropsNameVal = $thisTr.find('td.cropsName').text();
            console.log($cropsNameVal);


            $('#cropsName').val($cropsNameVal);
            $('#cropsNameCode').val($cropsNameCodeVal);

            $('#cropChooseModal').modal('hide');
        })

        // 수정 버튼 클릭
        $('#modifyBtn').click(function (){
            // 현재 작물 코드 값
            let inputCropsNameCode = $('#cropsNameCode').val();
            // DB 작물 코드 값
            if(cropsNameCode === inputCropsNameCode){
                let result = confirm('질문 내용도 변경하시겠습니까?');
                // 선택에 따라 수정처리 후 변경한다고 할 경우 상세 수정
                if(result){

                } else {

                }
            }
        })

        // 상세 질문 보기
        $('#showDetailQuestion').click(function (){
            let cropsSelfCheckCode = $('#cropsSelfCheckCode').val();
            let isHidden = $('#selfCheckQuestionForm').is(':hidden');
            if(isHidden){
                $.ajax({
                    url: "/adminSelfCheck/question/getQuestionDetailList",
                    type: 'POST',
                    contentType: 'text/plain',
                    data: cropsSelfCheckCode,
                    dataType: 'json',
                    success: function(response){

                        response.forEach(function (item, idx){

                            // DB에서 보내온 객체를 배열에 담음
                            $selfCheckQuestionArr.push(item);

                            // 값이 변했을 때 DB에 보낼 객체 배열을 만듬
                            const updateDataObject = {
                                selfCheckQuestionCode: item.selfCheckQuestionCode
                            }
                            updateDataArr.push(updateDataObject);

                            console.log(item.selfCheckQuestionTitleContent);
                            // 현재 div의 가장 마지막 요소를 선택
                            const $lastDiv = $('.questionAddInput').last();
                            // 마지막 요소를 복사
                            const $lastDivClone = $lastDiv.clone();
                            // 마지막 div의 input에 db의 값을 넣어줌
                            $lastDiv.find('input[name="selfCheckQuestionTitleContent"]').val(item.selfCheckQuestionTitleContent);
                            $lastDiv.find('input[name="selfCheckQuestionPremiumCheck"]').val(item.selfCheckQuestionPremiumCheck);
                            $lastDiv.find('input[name="selfCheckQuestionSuperiorCheck"]').val(item.selfCheckQuestionSuperiorCheck);
                            $lastDiv.find('input[name="selfCheckQuestionRegularCheck"]').val(item.selfCheckQuestionRegularCheck);
                            // 마지막 div에 숫자를 넣어줌
                            $lastDiv.find('.questionNum').text(idx + 1);
                            // 반복문의 마지막 전에는 삭제버튼 클래스를 넣고, 복사한 요소를 추가하고 마지막에는 그냥 끝냄
                            if(idx < response.length - 1){
                                $lastDiv.find('button').removeClass('questionAddBtn btn-success')
                                    .addClass('questionRemoveBtn btn-danger').text('삭제');

                                $lastDivClone.appendTo('#questionAddForm');
                            }
                        })
                    },
                    fail: function(jqXHR, textStatus, errorThrown){
                        alert('오류가 발생했습니다. ' + textStatus + ': ' + errorThrown);
                    }
                })
            }

            // 상세 질문 수정 form의 hidden 속성을 toggle
            $('#selfCheckQuestionForm').toggle();

        })

        $('.addQuestionBtn').click(function (){

            $('.questionAddInput').each(function(idx, item){

                let $selfCheckQuestionTitleContentValue = $(item).find('input[name="selfCheckQuestionTitleContent"]').val();
                let $selfCheckQuestionPremiumCheckValue = $(item).find('input[name="selfCheckQuestionPremiumCheck"]').val();
                let $selfCheckQuestionSuperiorCheckValue = $(item).find('input[name="selfCheckQuestionSuperiorCheck"]').val();
                let $selfCheckQuestionRegularCheckValue = $(item).find('input[name="selfCheckQuestionRegularCheck"]').val();
                let $selfCheckQuestionOrderValue = (String)(idx + 1);

                const valueObject = {
                    selfCheckQuestionTitleContent: $selfCheckQuestionTitleContentValue,
                    selfCheckQuestionPremiumCheck: $selfCheckQuestionPremiumCheckValue,
                    selfCheckQuestionSuperiorCheck: $selfCheckQuestionSuperiorCheckValue,
                    selfCheckQuestionRegularCheck: $selfCheckQuestionRegularCheckValue,
                    selfCheckQuestionOrder: $selfCheckQuestionOrderValue
                };

                $formSelfCheckQuestionArr.push(valueObject);
            })

            // 만약 수정하려는 질문의 숫자가 DB에서의 숫자보다 많다면 넘는 질문을 초과 질문 배열에 담음.
            if($formSelfCheckQuestionArr.length > $selfCheckQuestionArr.length){
                for(let i = $selfCheckQuestionArr.length; i < $formSelfCheckQuestionArr.length; i += 1){
                    
                    let overQuestion = $formSelfCheckQuestionArr.splice(i);
                    
                    overQuestionArr.push(overQuestion);
                }
            }
            // 현재 form안의 값이 바뀌었는지 check
            let isChanged = changedValueCheck($formSelfCheckQuestionArr, $selfCheckQuestionArr);
            // 바뀌었으면 바뀐 값을 서버로 전송하는 조건문
            if(isChanged){
                changedValueArr.forEach(function (item, index){
                    for(let key in item){
                        if(key !== 'selfCheckQuestionCode') addUpdateValue(key, item);
                    };
                });

                let spliceIdxArr = [];

                updateDataArr.forEach(function (item, index){
                    if(Object.keys(item).length === 1) spliceIdxArr.push(index);
                });

                spliceIdxArr.forEach(function(item){
                    updateDataArr.splice(item);
                });
            }

        })


    </script>
</th:block>
</html>