<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default_admin_popup}">
<head>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let cropsNameCode = /*[[${cropsSelfCheck.cropsNameCode}]]*/ 'default';
        /*]]>*/
    </script>
</head>
<th:block layout:fragment="customContents">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4 style="display: inline-block;">자가검증 질문 수정</h4>
                <span class="right-text" id="pop-up-today"></span>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form id="modifyForm" action="/adminSelfCheck/question/updateCropsSelfCheck" class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">작물 검증 질문 코드</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" th:value="${cropsSelfCheck.cropsSelfCheckCode}" class="form-control" disabled="disabled" id="cropsSelfCheckCode" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">작성자 아이디</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" th:value="${cropsSelfCheck.urbanfarmAdminId}" class="form-control" disabled="disabled" id="urbanfarmAdminId" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">작물 이름 코드</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" disabled="disabled" th:value="${cropsSelfCheck.cropsNameCode}"
                                   id="cropsNameCode" placeholder="선택된 상품 키트 코드의 키트 이름 자동으로 들어와야 함" maxlength="50">
                        </div>
                        <!-- 작물 선택 모달 트리거 버튼 -->
                        <button type="button" class="btn btn-primary" id="cropChooseBtn" data-toggle="modal" data-target="#cropChooseModal">
                            작물선택
                        </button>
                    </div>

                    <!-- 작물 선택 모달 -->
                    <div class="modal fade" id="cropChooseModal" tabindex="-1" role="dialog" aria-labelledby="cropChooseModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="cropChooseModalLabel">작물 선택</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-4">
                                            <select id="cropsSearchColumn" class="form-control">
                                                <option value="crops_name_code">작물 코드</option>
                                                <option value="crops_name">작물 이름</option>
                                            </select>
                                        </div>
                                        <div class="">
                                            <div class="input-group">
                                                <input id="cropsSearchValue" type="text" class="form-control">
                                                <span class="input-group-btn">
                                                            <button id="cropsSearchBtn" type="button" class="btn btn-primary">검색</button>
                                                        </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="x_panel">
                                                <div class="x_title">
                                                    <h2>작물 목록</h2>
                                                    <div class="clearfix"></div>
                                                </div>
                                                <div class="x_content">

                                                    <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>작물 코드</th>
                                                            <th>작물 이름</th>
                                                            <th></th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="cropsTable">
                                                        <tr>
                                                            <th scope="row"></th>
                                                            <td class="cropsNameCode"></td>
                                                            <td class="cropsName"></td>
                                                            <td class="text-right">
                                                                <button type="button" class="btn btn-success cropsSelectBtn">작물 선택</button>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="cropChooseCloseBtn" data-dismiss="modal">닫기</button>
                                    <button type="button" id="resetBtn" class="btn btn-warning">입력 취소</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">작물 이름</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" readonly th:value="${cropsSelfCheck.cropsName}"
                                   id="cropsName" maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">등록 시간</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" disabled="disabled" th:value="${cropsSelfCheck.corpsSelfCheckRegDate}" id="corpsSelfCheckRegDate" maxlength="50">
                        </div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group row">
                        <div class="col-md-3 col-sm-3 col-xs-12"></div>
                        <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                            <button type="button" class="btn btn-primary windowClose">취소</button>
                            <button type="reset" class="btn btn-primary">리셋</button>
                            <button id="modifyBtn" type="button" class="btn btn-success">수정</button>
                        </div>
                        <div class="col-md-3">
                            <button id="showDetailQuestion" type="button" class="btn btn-warning ">상세질문보기</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row" id="selfCheckQuestionForm" style="display: none">
        <div class="col-md-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>자가검증 질문 등록<small>자가검증 질문을 입력하세요.</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_panel">
                    <div class="row">
                        <h1>
                            [[${cropsSelfCheck.getCropsName()}]] <small>자가검증 질문 등록</small>
                        </h1>
                        <div class="ln_solid"></div>
                        <h3>
                            <small>자가검증 질문 코드:  </small>[[${cropsSelfCheck.getCropsSelfCheckCode()}]]
                        </h3>
                        <div class="ln_solid"></div>
                        <div class="ajs-h-blank-50"></div>
                    </div>
                    <div id="questionBody" >
                        <form id="questionAddForm" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="questionAddInput">
                                <div class="form-group row">
                                    <label class="ajs-text-title control-label col-md-3 col-sm-3 col-xs-12">#
                                    </label>
                                    <div class="questionNum ajs-text-title">1</div>
                                </div>
                                <div class="form-group">
                                    <label class="selfCheckQuestionTitleContent control-label col-md-3 col-sm-3 col-xs-12">질문 제목</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="selfCheckQuestionTitleContent" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="selfCheckQuestionPremiumCheck control-label col-md-3 col-sm-3 col-xs-12">특급 질문</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="selfCheckQuestionPremiumCheck" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="selfCheckQuestionSuperiorCheck control-label col-md-3 col-sm-3 col-xs-12">상급 질문</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="selfCheckQuestionSuperiorCheck" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="selfCheckQuestionRegularCheck control-label col-md-3 col-sm-3 col-xs-12">일반 질문</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" name="selfCheckQuestionRegularCheck" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-12"></div>
                                    <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                                        <button type="button" class="btn btn-success questionAddBtn">추가</button>
                                    </div>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                        </form>
                    </div>
                <div>
                    <div class="col-md-3 col-sm-3 col-xs-12"></div>
                    <div class="col-md-6 col-sm-6 col-xs-12 text-right">
                        <button type="button" class="btn btn-success addQuestionBtn">질문등록하기</button>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="customJs">
    <script type="text/javascript">

        const $cloneCropsTr = $('#cropsTable').find('tr').last().clone();
        // 유효성검사 함수
        const validCheck = element => {
            let data = $(element).val();
            let eleId = $(element).attr('id');
            console.log(eleId);

            if(typeof data == 'undefined' || data == null || data == '' ){
                if(eleId === 'cropName'){

                    let cate = $(`label[for="${eleId}"]`).text();
                    alert(`[${cate}] 필수 입력항목입니다.`);
                    $(element).focus();

                    return false;
                }

                alert('검색어는 필수입력 항목입니다.');

                return false;
            }
            return true;
        }

        // 작물 선택 버튼 클릭시 ajax로 작물 리스트 가져오기

        $('#cropChooseModal').on('show.bs.modal', function (){
            $.ajax({
                url: '/adminSelfCheck/question/listCrops',
                type: 'GET',
                contentType: 'application/json',
                success: function(response){
                    console.log(response);
                    response.forEach(function(item, index){
                        const $lastTr = $('#cropsTable').find('tr').last();
                        $lastTr.find('th').text(index + 1);
                        $lastTr.find('td.cropsName').text(item.cropsName);
                        $lastTr.find('td.cropsNameCode').text(item.cropsNameCode);
                        if(index < response.length - 1){
                            const $cloneTr = $lastTr.clone();
                            $('#cropsTable').append($cloneTr);
                        }
                    })
                },
                fail:function(jqXHR, textStatus, errorThrown) {
                    alert('오류가 발생했습니다. ' + textStatus + ': ' + errorThrown);
                }
            })
        })

        // 작물 모달 검색버튼 클릭시 검색어에 따라 리스트 가져오기
        $('#cropsSearchBtn').on('click', function (){
            const validateEle = []
            validateEle.push($('#cropsSearchColumn'));
            validateEle.push($('#cropsSearchValue'));
            console.log(validateEle);
            let isSubmit = false;
            const searchData = {}

            $(validateEle).each((idx, item) => {
                isSubmit = validCheck(item);
                let id = $(item).attr('id');
                searchData[id] = $(item).val();
                return isSubmit;
            })
            console.log(searchData);
            if(isSubmit){
                $.ajax({
                    url: '/adminSelfCheck/question/cropsSearch',
                    type: 'POST',
                    data: JSON.stringify(searchData),
                    contentType: 'application/json',
                    success: function (response){

                        $('#cropsTable').empty();
                        $('#cropsTable').append($cloneCropsTr);
                        response.forEach(function(item, index){
                            const $lastTr = $('#cropsTable').find('tr').last();
                            $lastTr.find('th').text(index + 1);
                            $lastTr.find('td.cropsName').text(item.cropsName);
                            $lastTr.find('td.cropsNameCode').text(item.cropsNameCode);
                            if(index < response.length - 1){
                                const $cloneTr = $lastTr.clone();
                                $('#cropsTable').append($cloneTr);
                            }
                        })
                    },
                    fail:function(jqXHR, textStatus, errorThrown) {
                        alert('오류가 발생했습니다. ' + textStatus + ': ' + errorThrown);
                    }
                })
            }
        })

        //모달에서 작물 선택 버튼 클릭시
        $(document).on('click', '.cropsSelectBtn', function (){
            const $thisTr = $(this).closest('tr')
            let $cropsNameCodeVal = $thisTr.find('td.cropsNameCode').text();
            let $cropsNameVal = $thisTr.find('td.cropsName').text();
            console.log($cropsNameVal);


            $('#cropsName').val($cropsNameVal);
            $('#cropsNameCode').val($cropsNameCodeVal);

            $('#cropChooseModal').modal('hide');
        })

        // 수정 버튼 클릭
        $('#modifyBtn').click(function (){
            // 현재 작물 코드 값
            let inputCropsNameCode = $('#cropsNameCode').val();
            // DB 작물 코드 값
            if(cropsNameCode === inputCropsNameCode){
                let result = confirm('질문 내용도 변경하시겠습니까?');
                // 선택에 따라 수정처리 후 변경한다고 할 경우 상세 수정
                if(result){

                } else {

                }
            }
        })

        // 상세 질문 보기
        $('#showDetailQuestion').click(function (){

            $('#selfCheckQuestionForm').toggle();
            let isHidden = $('#selfCheckQuestionForm').is(':hidden');
            alert(isHidden);


        })
    </script>
</th:block>
</html>