<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default_admin}">
<th:block layout:fragment="customContents">

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>로그인</h3>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>어드민 로그인<small>아이디와 패스워드를 입력해주세요</small></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br/>
                        <form id="demo-form2" action="/adminSelfVerification/question/addVerificationQuestionDetail" method="post" class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="urbanfarmAdminId">아이디</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="urbanfarmAdminId" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="urbanfarmAdminPw">비밀번호</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="urbanfarmAdminPw" class="form-control col-md-7 col-xs-12" >
                                </div>
                                <!-- 키트 선택 모달 트리거 버튼 -->
                            </div>


                            <!-- 키트 선택 모달창 -->
                            <!-- 키트 선택 모달 끝 -->

                            <!-- 작물 이름 input -->

                            <!-- 작물 선택 모달 -->
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button class="btn btn-primary" type="button">아이디찾기</button>
                                    <button class="btn btn-primary" type="button">비밀번호찾기</button>
                                    <button type="submit" class="btn btn-success submitBtn">로그인</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="customJs">
    <script type="text/javascript">
    </script>
</th:block>
</html>

