<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default_admin}">
<th:block layout:fragment="customContents">
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>상품등급 목록<small>자가검증 상품등급 목록입니다.</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>질문 코드</th>
                            <th>키트 코드</th>
                            <th>작물 이름</th>
                            <th>작성자 아이디</th>
                            <th>등록일자</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>crops_self_check_1</td>
                            <td></td>
                            <td>상추</td>
                            <td>admin111</td>
                            <td>2023. 5. 1 오전 10:30:00</td>
                            <td>
                                <button type="button" class="btn btn-warning modifyBtn">수정</button>
                                <button type="button" class="btn btn-danger removeBtn">삭제</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>crops_self_check_2</td>
                            <td>urban_kit_2</td>
                            <td>쪽파</td>
                            <td>admin111</td>
                            <td>2023. 5. 1 오전 10:30:00</td>
                            <td>
                                <button type="button" class="btn btn-warning modifyBtn">수정</button>
                                <button type="button" class="btn btn-danger removeBtn">삭제</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>crops_self_check_3</td>
                            <td></td>
                            <td>피망</td>
                            <td>admin111</td>
                            <td>2023. 5. 1 오전 10:30:00</td>
                            <td>
                                <button type="button" class="btn btn-warning modifyBtn">수정</button>
                                <button type="button" class="btn btn-danger removeBtn">삭제</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</th:block>

<th:block layout:fragment="customJs">
    <script type="text/javascript">
        const $modifyBtns = document.querySelectorAll('.modifyBtn');

        $modifyBtns.forEach(function(btn){
            btn.addEventListener('click', function(){
                window.location.href = '/adminSelfVerification/question/modifyVerificationQuestion'
            })
        })
    </script>
</th:block>
</html>



