<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user_layout/default}">
<th:block layout:fragment="customContents">


	
	<body>
		
			<div class="col-md-3 left_col plant_pic_sidebar" style="z-index: 2";>
			<ul class="plant_pic_side_ul plnat_pic_side_ul_li_font">
				<li><a><img width="200px;" src="/user/images/plant_pic_logo.png"></a></li>
				<li><a th:href="@{/userPlantPick/plantPickMain}"><img width="30px;" src="/user/images/plant_pic_home.png"></a>홈</li>
				<li><a th:href="@{/userPlantPick/searchPlantPick}"><img width="30px;" src="/user/images/plant_pic_find.png"></a>검색</li>
				<li><a th:href="@{/userPlantpick/profile}"><img width="30px;" src="/user/images/plant_pic_compass.png"></a>프로필 </li>
				<li><a th:href="@{/userPlantPick/addPostPlantPick}"><img width="30px;" src="/user/images/plant_pic_more.png"></a>포스팅</li>
			</ul>
		</div>
		
		<body class="goto-here">

		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-10 mb-5 text-center">
					
						<ul class="product-category">
							<li class="profile"><a href="#" class="active"><img width="30px;" src="/user/images/plant_pic_profil.png"></a></li>
							<li class="profile"><a href="#">user01</a></li>
							<li class="profile"><a href="/userPlantPick/update"><button>프로필편집</a></li>
					<br>

							<li><a href="#">게시물</a></li>
							<li><a href="#">49</a></li>
							<li><a href="/userPlantPick/followList">팔로워</a></li>
							<li><a href="/userPlantPick/followList">889</a></li>
							<li><a href="/userPlantPick/followList">팔로우</a></li>
							<li><a href="/userPlantPick/followList">112</a></li>
						</ul>
					</div>
					
				</div>
				
				<div class="bottom-area d-flex px-3">
									<div class="m-auto d-flex">
										<a href="#"
											class="add-to-cart d-flex justify-content-center align-items-center text-center">
											<span><i class="ion-ios-menu"></i>게시물</span>
										</a> 
										
										<a href="#"
											class="buy-now d-flex justify-content-center align-items-center mx-1">
											<span><i class="ion-ios-cart"></i>즐겨찾기</span>
										</a> 
										
										<a href="/userPlantPick/followBanList"
											class="heart d-flex justify-content-center align-items-center ">
											<span><i class="ion-ios-heart"></i>차단목록</span>
										</a>
									</div>
								</div>
				
				
				<div class="row">
					<div class="col-md-6 col-lg-4 ftco-animate">
						<div class="product">
							<a href="/userShop/userShopDetail" class="img-prod"><img
								class="img-fluid" src="/user/images/product-2.jpg"
								alt="Colorlib Template">
								<div class="overlay"></div> </a>
							<div class="text py-3 pb-4 px-3 text-center">
								<h3>
									<a href="/userShop/userShopDetail">딸기</a>
								</h3>
								
								
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 ftco-animate">
						<div class="product">
							<a href="#" class="img-prod"><img class="img-fluid"
                                                              src="/user/images/product-1.jpg" alt="Colorlib Template">
								<div class="overlay"></div> </a>
							<div class="text py-3 pb-4 px-3 text-center">
								<h3>
									<a href="#">피망</a>
								</h3>
								
								
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 ftco-animate">
						<div class="product">
							<a href="#" class="img-prod"><img class="img-fluid"
                                                              src="/user/images/product-3.jpg" alt="Colorlib Template">
								<div class="overlay"></div> </a>
							<div class="text py-3 pb-4 px-3 text-center">
								<h3>
									<a href="#">강낭콩</a>
								</h3>
							
								
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 ftco-animate">
						<div class="product">
							<a href="#" class="img-prod"><img class="img-fluid"
                                                              src="/user/images/product-4.jpg" alt="Colorlib Template">
								<div class="overlay"></div> </a>
							<div class="text py-3 pb-4 px-3 text-center">
								<h3>
									<a href="#">양배추</a>
								</h3>
							
								
							</div>
						</div>
					</div>


					<div class="col-md-6 col-lg-4 ftco-animate">
						<div class="product">
							<a href="#" class="img-prod"><img class="img-fluid"
                                                              src="/user/images/product-5.jpg" alt="Colorlib Template">
								<div class="overlay"></div> </a>
							<div class="text py-3 pb-4 px-3 text-center">
								<h3>
									<a href="#">토마토</a>
								</h3>
								
								
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 ftco-animate">
						<div class="product">
							<a href="#" class="img-prod"><img class="img-fluid"
                                                              src="/user/images/product-6.jpg" alt="Colorlib Template">
								<div class="overlay"></div> </a>
							<div class="text py-3 pb-4 px-3 text-center">
								<h3>
									<a href="#">브로콜리</a>
								</h3>
								
								
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 ftco-animate">
						<div class="product">
							<a href="#" class="img-prod"><img class="img-fluid"
                                                              src="/user/images/product-7.jpg" alt="Colorlib Template">
								<div class="overlay"></div> </a>
							<div class="text py-3 pb-4 px-3 text-center">
								<h3>
									<a href="#">당근</a>
								</h3>
								
								
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 ftco-animate">
						<div class="product">
							<a href="#" class="img-prod"><img class="img-fluid"
                                                              src="/user/images/product-8.jpg" alt="Colorlib Template">
								<div class="overlay"></div> </a>
							<div class="text py-3 pb-4 px-3 text-center">
								<h3>
									<a href="#">당근쥬스</a>
								</h3>
								
								
							</div>
						</div>
					</div>

					<div class="col-md-6 col-lg-4 ftco-animate">
						<div class="product">
							<a href="#" class="img-prod"><img class="img-fluid"
                                                              src="/user/images/product-9.jpg" alt="Colorlib Template">
								<div class="overlay"></div> </a>
							<div class="text py-3 pb-4 px-3 text-center">
								<h3>
									<a href="#">양파</a>
								</h3>
								
								
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 ftco-animate">
						<div class="product">
							<a href="#" class="img-prod"><img class="img-fluid"
                                                              src="/user/images/product-10.jpg" alt="Colorlib Template">
								<div class="overlay"></div> </a>
							<div class="text py-3 pb-4 px-3 text-center">
								<h3>
									<a href="#">사과</a>
								</h3>
								
								
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 ftco-animate">
						<div class="product">
							<a href="#" class="img-prod"><img class="img-fluid"
                                                              src="/user/images/product-11.jpg" alt="Colorlib Template">
								<div class="overlay"></div> </a>
							<div class="text py-3 pb-4 px-3 text-center">
								<h3>
									<a href="#">마늘</a>
								</h3>
								
								
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-4 ftco-animate">
						<div class="product">
							<a href="#" class="img-prod"><img class="img-fluid"
                                                              src="/user/images/product-12.jpg" alt="Colorlib Template">
								<div class="overlay"></div> </a>
							<div class="text py-3 pb-4 px-3 text-center">
								<h3>
									<a href="#">고추</a>
								</h3>
								
								
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col text-center">
						<div class="block-27">
							<ul>
								<li><a href="#">&lt;</a></li>
								<li class="active"><span>1</span></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&gt;</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
				

</th:block>
</html>
