<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user_layout/default}">
<th:block layout:fragment="customContents">

	<body>
		
			<div class="col-md-3 left_col plant_pic_sidebar">
			<ul class="plant_pic_side_ul plnat_pic_side_ul_li_font">
				<li><a><img width="200px;" src="/user/images/plant_pic_logo.png"></a></li>
				<li><a th:href="@{/userPlantPick/plantPickMain}"><img width="30px;" src="/user/images/plant_pic_home.png"></a>홈</li>
				<li><a th:href="@{/userPlantPick/searchPlantPick}"><img width="30px;" src="/user/images/plant_pic_find.png"></a>검색</li>
				<li><a th:href="@{/userPlantpick/profile}"><img width="30px;" src="/user/images/plant_pic_compass.png"></a>프로필 </li>
				<li><a th:href="@{/userPlantPick/addPostPlantPick}"><img width="30px;" src="/user/images/plant_pic_more.png"></a>포스팅</li>
			</ul>
		</div>
		
	
	<!--   -->
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-6 order-md-last d-flex">
				<div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="plantsearchselect">아이디/이름 검색</label>
									<div class="select-wrap">
										<select name="plantsearchselect" id="plantsearchselect" class="form-control">
											<option value="">-----아이디/이름을 선택해주세요-----</option>
											<option value="urbanfarmerId" >아이디</option>		
											<option value="urbanfarmerName" >이름</option>						
										</select>
									</div>
								</div>
							</div>
						
						
						
						<div class="col-md-12">
							<div class="form-group">
							
							    <form action="{% url 'pystagram:pn_search' %}" method="GET" enctype="multipart/form-data">
							  		<lable>
							  		검색
							  		</lable>
							        	<input type="text" name="keyword" placeholder="user id" style="text-align: left">
							    </form>
						   
							</div>
						</div>
								
					</div>
				</div>
			</div>
		</section>
	</body>
</th:block>
</html>
