<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user_layout/default}">
<th:block layout:fragment="customContents">

	<section class="ftco-section contact-section bg-light">
		<div class="container">
		</div>
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-6 order-md-last d-flex">
				<form action="<%= request.getContextPath() %>/Mfind/member_find_pw_update_form.urbanfarm_m"
					method="post" class="bg-white p-5 contact-form">
					<div class="form-group" style="text-align:right">
						<img src="/user/images/addCoupon.png" class="rounded float-start" alt="쿠폰등록" width="30">
						<a th:href="@{/user/regiUserCoupon}" style="color: black"> 쿠폰등록 </a>
					</div>
				</form>
			</div>
		</div>
	</section>
</th:block>

</html>