<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default_admin_popup}">
<th:block layout:fragment="customContents">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h4 style="display: inline-block;">상점상품등록</h4>
                <span class="right-text" id="pop-up-today"></span>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br>
                <form class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">관리자 직원 아이디</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" disabled="disabled" th:placeholder="${session.UA_id}"
                                   maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">키트 코드</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select class="form-control">
                                <option>urban_kit_1</option>
                                <option>urban_kit_2</option>
                                <option>urban_kit_3</option>
                                <option>urban_kit_4</option>
                                <option>urban_kit_5</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">키트 이름</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control" disabled="disabled"
                                   maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">상품 내용</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control"
                                   maxlength="50">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">상품 가격</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control"
                                   maxlength="50" id="kit-price">
                        </div>
                    </div>
                    <div class="form-group filebox">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">사진 첨부</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input class="upload-name" readonly>
                            <label for="file" class="file-up-popup">사진첨부</label>
                            <input type="file" id="file" accept="image/gif, image/jpeg, image/png, image/jpg">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">사진 썸네일</label>
                        <div class="col-md-9 col-sm-9 col-xs-12" id="upload-img-thumb">
                        </div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">상품 제목</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" class="form-control"
                                   id="idGoodsKitTitle" maxlength="50">
                        </div>
                    </div>
                    <div class="x_content">
                        <textarea id="summernote"></textarea>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 pop-up-submit-center">
                            <button type="submit" class="btn btn-success">저장</button>
                            <button type="reset" class="btn btn-primary">리셋</button>
                            <button type="button" class="btn btn-primary windowClose">취소</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</th:block>
<th:block layout:fragment="customJs">
    <script th:inline="javascript">

        // 정규표현식을 이용한 키트가격 입력 input에 입력한 문자 감지 및 삭제
        $(document).ready(function() {
            $(".kit-price").keyup(function() {
                let input_val = $(this).val();
                let nonNumberPattern = /[^-0-9]/g;

                if(nonNumberPattern.test(input_val)) {
                    alert('숫자만 입력해주세요');
                    let replace_text = input_val.replace(nonNumberPattern, '');
                    $(this).val(replace_text);
                }
            });
        });

        // 시계
        $(document).ready(function() {
            updateCurrentTime();
            setInterval(updateCurrentTime, 1000);
        });

        function updateCurrentTime() {
            let currentTime = moment().format('YYYY-MM-DD HH:mm:ss');
            $('#pop-up-today').text(currentTime);
        }

        // 팝업창 닫기
        if($('.windowClose').length > 0){
            function closePopUp() {
                console.log('창닫기');
                window.close();
            }
            $('.windowClose').on('click', closePopUp);
        }

        // 업로드한 파일 이름, 사진 썸네일 표시
        $("#file").on('change',function(){
            var fileName = $("#file").val();
            $(".upload-name").val(fileName);
            $('#upload-img-thumb').find('img').remove();
            const fileObj = new FileReader();

            fileObj.onload = e => {
                console.log(e.target.result)
                const $img = $('<img />', {src: e.target.result}).css({width: 100, height: 100});
                $('#upload-img-thumb').append($img);
            }
            fileObj.readAsDataURL(this.files[0]);
        });

        // Summernote 로딩
        $(document).ready(function() {
            $('#summernote').summernote({
                toolbar: [
                    // [groupName, [list of button]]
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
                    ['color', ['forecolor','color']],
                    ['table', ['table']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['height', ['height']],
                    ['insert',['picture','link','video']],
                    ['view', ['fullscreen', 'help']]
                ],
                fontNames: ['Pretendard-Regular',
                            '맑은 고딕',
                            '궁서',
                            '굴림체',
                            '굴림',
                            '돋움체',
                            '바탕체',
                            'Nanum Gothic',
                            'Malgun Gothic',
                            'Noto Sans KR',
                            'Arial',
                            'Arial Black',
                            'sans-serif',
                            'Times New Roman',
                            'Verdana',
                            ],
                fontNamesIgnoreCheck: ['Arial',
                                       'Arial Black',
                                       'Comic Sans MS',
                                       'Courier New',
                                       'Helvetica Neue',
                                       'Helvetica',
                                       'Impact',
                                       'Lucida Grande',
                                       'Tahoma',
                                       'Times New Roman',
                                       'Verdana',
                                       'Nanum Gothic',
                                       'Malgun Gothic',
                                       'Noto Sans KR',
                                       'Apple SD Gothic Neo',
                                       'Pretendard-Regular'],
                fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
                height: 500,                 // 에디터 높이
                minHeight: null,             // 최소 높이
                maxHeight: null,             // 최대 높이
                focus: false,                  // 에디터 로딩후 포커스를 맞출지 여부
                lang: "ko-KR",					// 한글 설정
            });
        });
    </script>
</th:block>
</html>