<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user_layout/default}">
<th:block layout:fragment="customContents">

	<section class="ftco-section">
	<h1 class="text-center mb-5">add_plan</h1>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-9 ftco-animate">
					<form th:action="@{#}" method="post">
						<h2 class="mb-4 billing-heading">작물 등록</h2>
						<div class="row align-items-end">
							<div class="col-md-12">
								<div class="form-group">
									<label for="crops">작물 선택</label>
									<div class="select-wrap">
										<select name="crops" id="crops" class="form-control">
											<option value="">작물1</option>
											<option value="">작물2</option>
											<option value="">작물3</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label for="kit">키트 선택</label>
									<div class="select-wrap">
										<select name="kit" id="kit" class="form-control">
											<option value="">선택안함</option>
											<option value="">키트1</option>
											<option value="">키트2</option>
											<option value="">키트3</option>
										</select>
									</div>
								</div>
							</div>
						</div>
						<div class="mt-4 text-right"><button class="btn btn-primary" type="submit">등록하기</button></div>
					</form>
					<!-- END -->
				</div>
			</div>
		</div>
	</section>
	<!-- .section -->
</th:block>
</html>