<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user_layout/default}">
<th:block layout:fragment="customContents">
	<section class="ftco-section">
	<h1 class="text-center mb-5">add_crops</h1>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-9 ftco-animate">
					<form id="addCropsForm" th:action="@{/userPlan/addCrops}" method="post">
						<h2 class="mb-4 billing-heading">작물 등록</h2>
						<div class="row align-items-end">
							<div class="col-md-12">
								<div class="form-group">
									<label for="cropsNameCode">작물 선택</label>
									<div class="select-wrap">
										<select name="cropsNameCode" id="cropsNameCode" class="form-control">
											<option value="">-----작물을 선택해주세요-----</option>
											<option th:each="list :${cropsNameList}" 
													th:text="${list.cropsName}"
													th:value="${list.cropsNameCode}"></option>					
										</select>
									</div>
								</div>
							</div>
							
							<div class="col-md-12">
								<div class="form-group">
									<label for="farmerFarmingPlanNickname">별명</label>
									<input id="farmerFarmingPlanNickname" 
										   name="farmerFarmingPlanNickname"
										   type="text" class="form-control" 
										   placeholder="별명을 지어주세요">
								</div>
							</div>
							
							<div class="col-md-12">
								<div class="form-group">
									<label for="urbanKitCode">키트 선택</label>
									<div class="select-wrap">
										<select name="urbanKitCode" id="urbanKitCode" class="form-control">
											<option value="">선택안함</option>
											<option th:each="list : ${urbanKitList}"
													th:text="${list.urbanKitName}"
													th:value="${list.urbanKitCode}"></option>
										</select>
									</div>
								</div>
							</div>
							
						</div>
						<div class="mt-4 text-right"><button id="addCropsBtn" class="btn btn-primary" type="button">등록하기</button></div>
					</form>
					<!-- END -->
				</div>
			</div>
		</div>
	</section>
	<!-- section -->
</th:block>
<th:block layout:fragment="customJs">
<script type="text/javascript" th:inline="javascript">
	const $addCropsBtn = document.querySelector('#addCropsBtn');
	let isSubmit = true;
	$addCropsBtn.addEventListener('click',function(){
		const $cropsNameCode = document.querySelector('#cropsNameCode');
		let value = $cropsNameCode.value;
		if(value == ''){
			let test = $(`label[for="${$cropsNameCode.id}"]`).text();
			alert(`${test}은 필수 입력항목입니다.`);
			$cropsNameCode.focus();
			isSubmit = false;
		}
		if(isSubmit){
			const $addCropsForm = document.querySelector('#addCropsForm');
			$addCropsForm.submit();
		}
	});
	
	const $cropsNameCode = document.querySelector('#cropsNameCode');
	$cropsNameCode.addEventListener('change',function(){
		isSubmit = true;
	})
	
	
	$cropsNameCode.addEventListener('change',function(){
		const cropsNameCode = $cropsNameCode.value
		const request = $.ajax({
			url : '/userPlan/ajax/getKitByCode',
			method : "POST",
			data : {'cropsNameCode' : cropsNameCode},
			dataType : "json"
		});

		request.done(function(response) {
			console.log(response);
			
			$('#urbanKitCode option').not('[value=""]').remove();
			
			$(response).each(function(idx, item){
				let urbanKitCode = item.urbanKitCode;
				let urbanKitName = item.urbanKitName;
				
				let $option = $(`<option value=${item.urbanKitCode}>${urbanKitName}</option>`);
				$('#urbanKitCode').append($option);
			})
		});

		request.fail(function(jqXHR, textStatus) {
			alert("Request failed: " + textStatus);
		});
	})
	
</script>
</th:block>
</html>