<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{user_layout/default}">
<th:block layout:fragment="customContents">
	<section class="ftco-section">
		<h1 th:unless="${farmingPlan.farmerFarmingPlanNickname} == null"
			th:text="${farmingPlan.farmerFarmingPlanNickname}"
			class="text-center mb-5"></h1>
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xl-9 ftco-animate">
					<div class="row align-items-end">
						<div class="col-md-12">
							<div class="form-group">
								<label for="crops">작물</label>
								<h2 th:text="${farmingPlan.cropsName}"
									class="border-top border-bottom"></h2>
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<label for="crops">키트</label>
								<h2 th:if="${farmingPlan.urbanKitCode}==null"
									class="border-top border-bottom">등록된 키트가 없습니다</h2>
								<h2 th:unless="${farmingPlan.urbanKitCode}==null"
									th:text="${farmingPlan.urbanKitName}"
									class="border-top border-bottom"></h2>
							</div>
						</div>
					</div>
					<th:block th:unless="${#lists.isEmpty(farmingPlanLargeCateList)}">
						<lable>농사계획</lable>
						<th:block th:each="largeCate : ${farmingPlanLargeCateList}">
							<div class="row mb-2 border-top">
								<h2 th:text="${largeCate.farmingPlanLargeCateTitle}"
									class="col-11"></h2>
								<div class="col-1 text-center mt-2">
									<button th:id="${largeCate.farmingPlanLargeCateCode}" 
											class="btn btn-primary ion-ios-arrow-down" type="button"
											th:data-target="|#${largeCate.farmingPlanLargeCateCode}Btn|"
											aria-expanded="true"
											th:aria-controls="${largeCate.farmingPlanLargeCateCode}"></button>
								</div>
							</div>
							<div>
								<div th:id="|${largeCate.farmingPlanLargeCateCode}Btn|"
									class="collapse multi-collapse mb-3">
									<div class="card card-body">Anim pariatur cliche
										reprehenderit, enim eiusmod high life accusamus terry
										richardson ad squid. Nihil anim keffiyeh helvetica, craft beer
										labore wes anderson cred nesciunt sapiente ea proident.</div>
								</div>
							</div>
						</th:block>
					</th:block>
					<div class="mt-4 text-right">
						<a th:href="@{/userPlan/planMain}" class="btn btn-primary"
							type="submit">목록으로</a>
					</div>
					<!-- END -->
				</div>
			</div>
		</div>
	</section>
</th:block>
<th:block layout:fragment="customJs">
<script type="text/javascript" th:inline="javascript">
	$('button').click(function(e){
		let target = e.currentTarget;
		let categoryCode = target.id;
		
		let url = `/userPlan/ajax/getSmallCate?farmingPlanSmallCateCode=${categoryCode}`;
		
		
		$(target).attr("data-toggle","collapse");
		
		/* let request = $.ajax({
			  url: "script.php",
			  method: "POST",
			  data: { id : menuId },
			  dataType: "html"
			});
			 
		request.done(function( msg ) {
		  $( "#log" ).html( msg );
		});
		 
		request.fail(function( jqXHR, textStatus ) {
		  alert( "Request failed: " + textStatus );
		}); */
	})
</script>
</th:block>
</html>