<!DOCTYPE html>
<html layout:decorate="~{user_layout/default_main}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeLeaf.org">
<th:block layout:fragment="customContents">
    <div class="hero-wrap hero-bread" style="background-image: url('/user/images/bg_1.png');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a th:href="@{/static/admin/vendors/bootstrap-daterangepicker/example/amd/index.html}"></a></span> <span></span></p>
                    <h1 class="mb-0 bread" th:utext="${title}"></h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <span class="icon js-main-icon">🌱</span>
        <div>
            <h1>KSMART 47기 1팀 프로젝트 #10 버전</h1>
            <div class="js-h-blank-70"></div>
            <h3>2023년 7월 16일 19:10 배포</h3>
        </div>
        <div class="js-h-blank-10"></div>
        <div class="row js-callout js-display-flex-center">
            <span class="icon js-icon-x1-5">💡</span>
            <p class="js-p-margin-0" style="font-size: 20px">전주 스마트 정보 교육원 47기 1팀 프로젝트입니다.</p>
        </div>
        <div class="js-h-blank-100"></div>
        <div class="js-left-line row">
            <div class="js-w-blank-10"></div>
            <p style="font-size: 30px">👋 경영진의 마인드를 가진 경력직같은 신입 개발자가 되고자 하는 6인의 프로젝트</p>
        </div>
        <div class="js-h-blank-100"></div>
        <div class="js-brown-box">
            <h4>💻 프로젝트 소개</h4>
        </div>
        <div class="js-h-blank-50"></div>
        <div id="jsLinkGrayBox">
            <div class="js-bottom-line-gray" style="font-size: 20px">🪴도시공간 농지 활용 및 작물 공유 어반팜 플랫폼에 대해서 알아보세요.🖱️</div>
        </div>
        <div class="js-h-blank-70 js-bottom-line-gray"></div>

        <div>
            <p style="font-size: 30px; font-weight: bolder">👩🏻‍💻 Projects</p>
        </div>
        <div class="js-h-blank-40"></div>
        <div class="row">
            <div id="projectMain" class="col-md-4 js-display-flex-justify-center">
                <div class="js-project-box"><img class="js-img" src="/user/images/urbanfarm_project.png"> </div>
            </div>
        </div>
        <div class="js-h-blank-100 js-bottom-line-gray"></div>
        <div>
            <p style="font-size: 30px; font-weight: bolder">👫 Member</p>
        </div>
        <div class="js-h-blank-50"></div>
        <div class="row">
            <div class="col-md-4 js-display-flex-justify-center">
                <div class="js-img-box"><img class="js-img" src="/user/images/leedaya.png"> </div>
            </div>
            <div class="col-md-4 js-display-flex-justify-center">
                <div class="js-img-box"><img class="js-img" src="/user/images/kimsangwon.png"> </div>
            </div>
            <div class="col-md-4 js-display-flex-justify-center">
                <div class="js-img-box"><img class="js-img" src="/user/images/kimjunsu.png"> </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 js-display-flex-justify-center">
                <div><p style="font-size: 30px">이다야</p></div>
            </div>
            <div class="col-md-4 js-display-flex-justify-center">
                <div><p style="font-size: 30px">김상원</p></div>
            </div>
            <div class="col-md-4 js-display-flex-justify-center">
                <div><p style="font-size: 30px">김준수</p></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 js-display-flex-justify-center">
                <div class="js-img-box"><img class="js-img" src="#"> </div>
            </div>
            <div class="col-md-4 js-display-flex-justify-center">
                <div class="js-img-box"><img class="js-img" src="#"> </div>
            </div>
            <div class="col-md-4 js-display-flex-justify-center">
                <div class="js-img-box"><img class="js-img" src="#"> </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 js-display-flex-justify-center">
                <div><p style="font-size: 30px">이원영</p></div>
            </div>
            <div class="col-md-4 js-display-flex-justify-center">
                <div><p style="font-size: 30px">박지성</p></div>
            </div>
            <div class="col-md-4 js-display-flex-justify-center">
                <div><p style="font-size: 30px">이동훈</p></div>
            </div>
        </div>
        <footer class="js-footer"></footer>
    </div>
</th:block>
<th:block layout:fragment="customJs">
    <script>
        $(document).ready(function(){
            $("#jsLinkGrayBox").hover(function(){
                $(this).css("background-color", "rgba(241, 241, 239, 1)");
            }, function(){
                $(this).css("background-color", "white");
            });
            $("#jsLinkGrayBox").click(function(){
                location.href = '/main/projectIntroduce';
            });
        });
        $(document).ready(function(){
            $("#projectMain").click(function(){
                location.href = '/index';
            })
        })
    </script>
</th:block>
</html>