<header>
    <div class="page-header-icon undefined">
        <span class="icon">📋</span>
    </div>
    <h1 class="page-title">KSMART 47기 1팀 프로젝트 소개</h1>
    <p class="page-description"></p>
</header>
<div class="page-body">
    <h2 class="" id="2fb3881e-fe64-4900-9be3-d66e2b39b913">🌱프로젝트의 목적</h2>
    <p class="" id="555a8787-4fdb-4e47-a1e1-d197ec62797f">
    <div class="indented">
        <p class="" id="037806b6-2a20-48a9-af02-a0faf79ed740">도시공간 농지 활용 및 작물 공유 어반팜 플랫폼취미로 텃밭을 가꾸는 사람들! 그리고 관심이 있어 몇 번 키워봤지만 흙만 키우는 사람들이나 아예 시도조차 해보지 못한 사람들을 대상으로 하는 플랫폼입니다. 취미로 키워 주변 사람들에게 상추 한 무더기를 나누어줍니다. </p>
        <p class="" id="3d0708bf-9a62-4818-84d0-a092cf603fe8">하지만 주변 사람들로는 소비가 불가능한 양의 수확물들. 만약 조금 더 쉽게 나누어 이윤을 창출할 수 있다면 얼마나 좋을까요?  그리고 식물을 잘 기르지 못하는 사람들이 전문가의 재배계획 플랜을 적용하여 쉽게 키울 수 있다면 얼마나 좋을까요? </p>
        <p class="" id="f0e49fe6-9746-493d-b5b3-89a06c436158">
            <mark class="highlight-orange">어반팜 플랫폼</mark>은 자신이 키운 작물을 더 쉽게 다른 사람들에게 팔 수 있게하고, 더 쉽게 식물을 키우게 하고, 서로 식물을 키우는 것을 공유하며 지속적인 관심을 유도하여 신규 도시농부들을 유입시키고 지속 가능한 지역사회 도시 농업 활성화를 목표로 합니다.</p>
    </div>
    </p>
    <p class="" id="78c83688-a0ff-46f5-9e07-fd7a95c411db"></p>
    <h2 class="block-color-gray_background" id="b9e10514-e681-4186-ac17-e9a2b5f17e59">🎁기대효과</h2>
    <ol class="numbered-list" id="ae0846e7-f4df-4741-bf5c-04239ae50e35" start="1" type="1">
        <li>지역소비를 증가시켜 탄소배출을 감소시키고 도시지역 자연 생태계의 파괴로 인한 사회, 환경, 문화적 문제 해소를 통한 지역사회 환경 개선</li>
    </ol>
    <ol class="numbered-list" id="2770a653-6f4e-42d3-ac33-62192ea6ffb5" start="2" type="1">
        <li>도시농업 진입장벽 완화를 통한 도시농부 양산</li>
    </ol>
    <ol class="numbered-list" id="4d88c41d-0a6b-4f1e-8be6-5a7bcc3d5f4c" start="3" type="1">
        <li>폐기되는 도시농업 농작물을 줄이고, 어반팜 플랫폼을 통해 판매함으로써 잉여 생산물 처리비용을 감소시키고, 이용자의 가계에 도움이 되어 지역사회 구성원의 도시농업 관심 증대</li>
    </ol>
    <ol class="numbered-list" id="440b9f12-5706-46f7-9504-c8f75b809883" start="4" type="1">
        <li>지역사회 공동체 활성화를 통한 지역주민 삶의 질 향상</li>
    </ol>
    <ol class="numbered-list" id="7c95d831-fa24-4ea4-8516-07d027d89491" start="5" type="1">
        <li>새로운 도시기능의 도입 및 창출을 통한 지역경제 활성화 </li>
    </ol>
    <p class="" id="1fb7e2a9-3bb5-4df9-baca-e6022fcdf182"></p>
    <h2 class="block-color-gray_background" id="b7c56a34-503b-472d-8eb7-0f5228e2fac5">🔧개발과정 및 프로젝트 기능</h2>
    <h3 class="" id="f3bd477f-eaa8-4058-bc66-8ff6c38ddbd0">개발과정</h3>
    <p class="" id="de7f8930-53c0-489e-9f38-6a6b495238bd">시스템 구조도 작성, 기능정의, 상세자료 입력, 테이블 스키마, ERD 작성, UI 설계, 네이밍 규칙, 구현, 배포</p>
    <p class="" id="0e11588e-1c66-4051-8aea-3b7c4632b8c5"></p>
    <h3 class="" id="8d625bab-9adb-4c68-9913-cc64242247de">프로젝트 기능</h3>
    <p class="" id="154c94b1-d170-4d01-9fb3-0f5fb8d46038">🍎 회원관리
    <div class="indented">
        <ul class="bulleted-list" id="a5b42a7f-c004-45cb-a422-56fbfdf4aa15">
            <li style="list-style-type:disc">관리자, 허브크루, 일반회원(농부) 세 가지 권한으로 회원을 관리</li>
        </ul>
        <ul class="bulleted-list" id="b1a826bb-28e3-4e7c-a6f6-3f3a537d1c75">
            <li style="list-style-type:disc">로그인, 로그아웃 기능</li>
        </ul>
        <ul class="bulleted-list" id="961d1bf5-622c-458a-bee9-eed3820bb628">
            <li style="list-style-type:disc">아이디, 패스워드 찾기 기능</li>
        </ul>
    </div>
    </p>
    <p class="" id="aef322a2-99ff-409e-b595-7f471b064e8f">🍏 일반회원의 작물 농사 계획 관리
    <div class="indented">
        <p class="" id="74ddc754-98be-489b-a4db-20499c898d28">(농사 계획 관리 - 상세 농사 계획 관리 - 농사 계획 실행 관리)</p>
        <ol class="numbered-list" id="9fc510f4-c3aa-4dd3-91f5-c4be977f694b" start="1" type="1">
            <li>나의 재배 계획 보기
                <ul class="bulleted-list" id="e7cf4808-e204-4ef5-a15b-926028d9e00c">
                    <li style="list-style-type:disc">사용자가 작성한 작물 재배계획, 상세 작물 재배계획, 작물 재배계획 실행들을 한 눈에 볼 수 있도록 돕는 검색 기능</li>
                </ul>
            </li>
        </ol>
        <ol class="numbered-list" id="15ae2ea5-a33a-4ccc-8343-cc15a063f54c" start="2" type="1">
            <li>작물 재배 계획 관리
                <ul class="bulleted-list" id="9a0e5590-2654-4d99-87d5-3e4f3f066b05">
                    <li style="list-style-type:disc">사용자의 작물 재배계획의 전체 과정을 관리</li>
                </ul>
                <ul class="bulleted-list" id="639fc195-01a4-4ac7-84af-5776e79c4b94">
                    <li style="list-style-type:disc">현재 작물 재배계획의 단계, 전체 단계를 확인하며, 어느 과정에 있는지 볼 수 있다.</li>
                </ul>
                <ul class="bulleted-list" id="76a64aac-52ae-430e-8fd3-c3e267b0ce88">
                    <li style="list-style-type:disc">하위 계획으로 세분화된 계획들의 CRUD를 관리</li>
                </ul>
            </li>
        </ol>
        <ol class="numbered-list" id="0d75fd5a-4892-44f6-b2f4-c5f83d8603ac" start="3" type="1">
            <li>상세 작물 재배계획 관리
                <ul class="bulleted-list" id="bed5a9a6-311d-41ee-a843-20bd02a184a1">
                    <li style="list-style-type:disc">해당하는 작물 재배계획의 상세 재배계획들의 CRUD를 관리</li>
                </ul>
                <ul class="bulleted-list" id="b8f80417-a9a1-42e7-bc51-21f267624e08">
                    <li style="list-style-type:disc">통합계획의 하위 계획으로 세분화한 9개 카테고리 계획들의 CRUD를 관리</li>
                </ul>
            </li>
        </ol>
        <ol class="numbered-list" id="dd5c8dc4-be95-40df-8248-8bdf23a9db4e" start="4" type="1">
            <li>작물 재배 계획 실행 관리
                <ul class="bulleted-list" id="a94bf983-5d0b-45ec-8e0a-c033f5a16dba">
                    <li style="list-style-type:disc">해당하는 작물의 상세 재배계획의 실행을 관리</li>
                </ul>
            </li>
        </ol>
    </div>
    </p>
    <p class="" id="1b739554-ac01-4132-8ed5-dd148ab80bb6">🍒 작물 상품 등급 자가 검증
    <div class="indented">
        <ul class="bulleted-list" id="d8141be7-3a3d-4d41-8866-2194e2047ed8">
            <li style="list-style-type:disc">해당하는 작물의 상세 재배계획의 실행을 관리 </li>
        </ul>
    </div>
    </p>
    <p class="" id="e0095bfd-5070-4181-8dac-4d93387bf532">🍊 허브 자판기 관리
    <div class="indented">
        <ul class="bulleted-list" id="005c9a7e-ec2b-48fb-ba3d-e1ef2d8a6860">
            <li style="list-style-type:disc">허브 내에 있는 사용자가 자신의 작물을 다른 사용자에게 판매하기위해 진열하는 공간을 관리</li>
        </ul>
        <ul class="bulleted-list" id="677b07f2-30b0-436b-ba75-f1e920ca724f">
            <li style="list-style-type:disc">(관리자) : 자판기의 등록, 조회, 수정, 삭제를 하며, 자판기의 상태를 변경할 수 있음</li>
        </ul>
        <ul class="bulleted-list" id="78b679fb-80a5-4253-b99f-f0124587d378">
            <li style="list-style-type:disc">(이용자) : 자판기 칸의 이용 등록, 수정, 삭제 할 수 있음.</li>
        </ul>
    </div>
    </p>
    <p class="" id="89a8952c-647a-496e-b4dc-2ce2f40c9829">🍑 플랜픽
    <div class="indented">
        <ul class="bulleted-list" id="0e320263-1a55-4d0b-aa8c-57f34d56a97e">
            <li style="list-style-type:disc">플랫폼을 이용하는 사람들이 재배계획을 통해 키우고 있는 작물들의 사진을 포스팅하여 서로 간의 유대감을 형성하고, 작물을 키우는 행위를 통해 소속감을 형성해서 계속해서 작물을 키워 나갈 수 있도록 함</li>
        </ul>
        <ul class="bulleted-list" id="bffec3dd-9db4-4104-bfce-05baf858c96c">
            <li style="list-style-type:disc">팔로우 기능, 좋아요 기능, 댓글 기능, 이미지 검색 기능</li>
        </ul>
    </div>
    </p>
    <p class="" id="9ef128d2-68f7-43cd-a858-fc3b351430b2">🥝 키트 온라인 판매
    <div class="indented">
        <ul class="bulleted-list" id="4b880ac4-e81b-4bdf-96d7-219fc6acfb5f">
            <li style="list-style-type:disc">허브의 온라인 플랫폼으로 플랫폼에서 제공하는 키트를 구매하고자 하는 사람에게 키트를 판매하는 온라인 상점</li>
        </ul>
        <ul class="bulleted-list" id="fcaf2eca-9628-4841-8068-83e1737aeee4">
            <li style="list-style-type:disc">상품 카테고리 분류 기능, 상품 검색 기능</li>
        </ul>
        <ul class="bulleted-list" id="7eed579f-5f07-493d-b00c-5579ad5a1855">
            <li style="list-style-type:disc">(관리자) 키트 상품을 등록할 수 있고, 수정, 삭제등을 할 수 있음.</li>
        </ul>
        <ul class="bulleted-list" id="57c9d14f-f217-4efd-8bf2-38137f93c657">
            <li style="list-style-type:disc">(이용자) : 키트 상품을 조회, 상세 조회 할 수 있으며 원하는 상품을 구매, 배송요청 할 수 있음.</li>
        </ul>
    </div>
    </p>
    <p class="" id="043ab68c-945f-4a0c-a492-e427ba6b6b2e"></p>
    <h2 class="block-color-gray_background" id="81b711dc-6ae4-4651-a37e-2098d7c009bc">💻 개발환경
    </h2>
    <p class="" id="4a12c2bd-a179-4ae5-94fa-e2c18fe3e39f"></p>
    <p class="" id="c2e9c071-d729-49aa-97fb-d3bceb70df26">▶Language : Java, JavaScript(JQuery : jquery-3.5.1), HTML, CSS</p>
    <p class="" id="3fa874c4-0545-41ef-80aa-90a5e61d518c">▶DB : MySQL</p>
    <p class="" id="35816d62-377d-4e36-b657-b132b1e6d730">▶DB관리툴 : HeidiSQL 10.1.0.5464</p>
    <p class="" id="82ba73f6-7d3f-45c2-b9e3-d95878c66e7f">▶서버 : apache – 10.1.8</p>
    <p class="" id="fc8f72b4-c6f8-425e-ae20-faa4d60876d6">▶WAS : Tomcat – 10.1.8</p>
    <p class="" id="e0cdae69-b915-4640-bda5-c403579b5e9a">▶협업툴 : GitHub, NAS</p>
    <p class="" id="762e22cc-715c-4bc0-996c-f2d57ff6714d">▶프레임워크 : Eclipse IDE 2023-03 (4.27.0), STS4 4.18.1, springframework 6.0.9, spring-webmvc 6.0.9, Maven, mybatis-3.5.13, mybatis-spring 3.0.2, bootstrap</p>
    <p class="" id="67956d7d-8fe0-471c-bed4-baf1b44a28f7">API : jackson.core 2.15.0, spring-jdbc-6.0.9, mysql-connector-java 8.0.33 , log4j 1.16, thymeleaf-3.1.1</p>
</div>