<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default_admin}">
<th:block layout:fragment="customContents">
    <a th:href="@{'/adminVendingMachine/vmAddHub'}">자판기 사용 등록</a>
    <a th:href="@{'/adminVendingMachine/vmModifyHub'}">자판기 사용 수정</a>
    <a th:href="@{'/adminVendingMachine/vmRemoveHub'}">자판기 사용 삭제</a>
    <a th:href="@{'/adminVendingMachine/vmMain'}">자판기 관리 메인 가기</a>
  
</th:block>

<th:block layout:fragment="customJs">
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</th:block>
</html>