<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layout/default_admin}">

 <th:block layout:fragment="customContents">
 <!--   <section class="ftco-section">
		<div class="container">
			<div class="row no-gutters ftco-services">
				<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-4 services mb-md-0 mb-4 click-to-vmAdd">
						<div>
							<img id="urbanfarm_production_icons" src="/user/images/add.png"  height="50" width="50">
						</div>
						<div class="media-body">
							<h5 id="urbanfarm_heading">자판기 추가하기</h5>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-4 services mb-md-0 mb-4 click-to-vmModify">
						<div>
							<img id="urbanfarm_production_icons" src="/user/images/system-update.png" height="50" width="50">
						</div>
						<div class="media-body">
							<h5 id="urbanfarm_heading">자판기 수정하기</h5>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services mb-md-0 mb-4 click-to-vmRemove">
						<div>
							<img id="urbanfarm_production_icons_ecoicon" src="/user/images/columns.png" height="50" width="50">
						</div>
						<div class="media-body">
							<h5 id="urbanfarm_heading">자판기 삭제하기</h5>
						</div>
					</div>
				</div>
				<div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
					<div class="media block-6 services mb-md-0 mb-4 click-to-vmHubMain">
						<div>
							<img id="urbanfarm_production_icons_ecoicon" src="/user/images/maintenance.png" height="50" width="50">
						</div>
						<div class="media-body">
							<h5 id="urbanfarm_heading">사용중인 자판기 관리 메뉴</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</th:block>

<th:block layout:fragment="customJs">
	<script>
		$(document).on('click', '.click-to-vmAdd', function () {
			location.href = '/adminVendingMachine/vmAdd';
		});
		$(document).on('click', '.click-to-vmModify', function () {
			location.href = '/adminVendingMachine/vmModify';
		});
		$(document).on('click', '.click-to-vmRemove', function () {
			location.href = '/adminVendingMachine/vmRemove';
		});
		$(document).on('click', '.click-to-vmHubMain', function () {
			location.href = '/adminVendingMachine/vmHubMain';
		});
	</script>
	-->
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</th:block>
</html>