<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user_layout/default}">
 
<th:block layout:fragment="customContents">
    <section class="ftco-section contact-section bg-light">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-6 order-md-last d-flex">
                <form id="modifyVmForm" th:action="@{/admin_vending_machine/modify_vm}" method="post"
                      class="bg-white p-5 contact-form" >
                      
							<div class="input-group mb-3">
						<div class="form-floating col-9">
							<label for="localSelect">허브 지역 선택 :</label>
							<select name="local" id="localSelect">
								<option value="">--지역을 선택하세요--</option>
								<option value="seoul">서울</option>
								<option value="ggd">경기도</option>
								<option value="junju">전주</option>
								<option value="gwangju">광주</option>
								<option value="busan">부산</option>
								<option value="jejudo">제주도</option>
							</select>
						</div>
					</div>

					<div class="input-group mb-3">
						<div class="form-floating col-9">
							<label for="areaSelect">허브 동네 선택 :</label>

							<select name="Area" id="areaSelect">
								<option value="">--동네 선택하세요--</option>
								<option value="sb">성북동</option>
								<option value="da">돈암동</option>
								<option value="hh">혜화동</option>
							</select>
						</div>
					</div>
					<div class="input-group mb-3">
						<div class="form-floating col-9">
							<input type="text" class="form-control">
							<label for="VmName">자판기 이름</label>
						</div>
					</div>
					<div class="input-group mb-3">
						<div class="form-floating col-9">
							<input type="text" class="form-control">
							<label for="VmNumber">자판기 번호</label>
						</div>
					</div>

					<div class="form-group" style="text-align:right">
						<button id="modifyVmBtn" type="button" class="btn btn-info py-2 px-4"> 자판기 수정 </button>
						<div style="float: left; margin-left: 30px"> </div>
							<a href="/adminVendingMachine/vmMain" class="btn btn-info py-2 px-4">관리 메인으로 돌아가기</a>
							<div style="float: left; margin-left: 30px">
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
</th:block>

</html>