<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<div id="header" th:fragment="headerFragment">
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="/Ulogin/user_login_action">UrbanFarm</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
				aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div th:if="${session.S_id == null}" class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active  urban_header"><a href="/Ulogin/user_login_action"
							class="nav-link">플랫폼소개</a></li>
					<li class="nav-item urban_header"><a href="/Ulogin/user_login_action" class="nav-link">이동훈</a></li>
					<li class="nav-item urban_header"><a href="/Ulogin/user_login_action" class="nav-link">김준수</a></li>
					<li class="nav-item urban_header"><a href="/Ushop/user_shop_list" class="nav-link">키트구매</a></li>
					<li class="nav-item urban_header"><a href="/Ulogin/user_login_action" class="nav-link">김상원</a></li>
					<li class="nav-item urban_header"><a href="/Ulogin/user_login_action" class="nav-link">이다야</a></li>
					<li class="nav-item cta cta-colored urban_header"><a href="/Ushop/user_shop_cart" class="nav-link"><span
								class="icon-shopping_cart"></span>[0]</a></li>
					<li class="nav-item urban_header"><a href="/Ulogin/user_login_action" class="nav-link">마이페이지</a></li>
					<li class="nav-item urban_header"><a href="/static" class="nav-link">로그아웃</a></li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="hero-wrap hero-bread" style="background-image: url('/user/images/bg_1.png');">
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<p class="breadcrumbs"><span class="mr-2"><a href="/Ulogin/user_login_action"></a></span> <span></span></p>
					<h1 class="mb-0 bread" th:text="${title}"></h1>
				</div>
			</div>
		</div>
	</div>
</div>
</html>