<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<div id="header" th:fragment="headerFragment">
	<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
		<div class="container">
			<a class="navbar-brand" href="/">UrbanFarm</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
					aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="oi oi-menu"></span> Menu
			</button>

			<div th:if="${session.S_id == null}" class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item urban_header"><a th:href="@{/userPlan/planMain}" class="nav-link">!농부 농사 계획<br>:이동훈</a></li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">!수확물 판매<br>:김준수</a>
						<div class="dropdown-menu" aria-labelledby="dropdown04">
							<a class="dropdown-item urban_header" th:href="@{/userSelectSellToHub/selectSellCrop}">!판매예약하기</a>
							<a class="dropdown-item urban_header" th:href="@{/userSaleHubReservation/listSaleReservation}">!내판매예약목록</a>
						</div>
					</li>
					<li class="nav-item urban_header"><a th:href="@{/userShop/userShopList}" class="nav-link">!키트구매<br>:이원영</a></li>
					<li class="nav-item urban_header"><a th:href="@{/userPlantPick/plantPickMain}" class="nav-link">!플랜픽<br>:김상원</a></li>
					<li class="nav-item urban_header"><a th:href="@{/userVendingMachine/vmMain}" class="nav-link">!자판기<br>:이다야</a></li>
					<li class="nav-item cta cta-colored urban_header"><a th:href="@{/Ushop/user_shop_cart}" class="nav-link"><span
							class="icon-shopping_cart"></span>[0]</a></li>
					<li class="nav-item urban_header"><a th:href="@{/userLogin/userLogin}" class="nav-link">!로그인<br>:박지성</a></li>
				</ul>
			</div>
			<div th:unless="${session.S_id == null}" class="collapse navbar-collapse" id="ftco-nav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item urban_header"><a th:href="@{/userPlan/planMain}" class="nav-link">!농부 농사 계획<br>:이동훈</a></li>
					<li class="nav-item urban_header"><a th:href="@{/userSelectSellToHub/selectSellCrop}" class="nav-link">!수확물 판매<br>:김준수</a></li>
					<li class="nav-item urban_header"><a th:href="@{/userShop/userShopList}" class="nav-link">!키트구매<br>:이원영</a></li>
					<li class="nav-item urban_header"><a th:href="@{/userPlantPick/plantPickMain}" class="nav-link">!플랜픽<br>:김상원</a></li>
					<li class="nav-item urban_header"><a th:href="@{/userVendingMachine/vmMain}" class="nav-link">!자판기<br>:이다야</a></li>
					<li class="nav-item cta cta-colored urban_header"><a th:href="@{/Ushop/user_shop_cart}" class="nav-link"><span
							class="icon-shopping_cart"></span>[0]</a></li>
					<li class="nav-item cta cta-colored urban_header"><a th:href="@{/userInfo/userInfoMain}" class="nav-link"><span
							class="bi bi-person-circle"></span>마이페이지<br>:박지성</a></li>
					<li class="nav-item urban_header"><a th:href="@{/userLogin/userLogout}" class="nav-link">로그아웃<br>:박지성</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="hero-wrap hero-bread" style="background-image: url('/user/images/bg_1.png');">
		<div class="container">
			<div class="row no-gutters slider-text align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate text-center">
					<p class="breadcrumbs"><span class="mr-2"><a th:href="@{/static/admin/vendors/bootstrap-daterangepicker/example/amd/index.html}"></a></span> <span></span></p>
					<h1 class="mb-0 bread" th:utext="${title}"></h1>
				</div>
			</div>
		</div>
	</div>
</div>
</html>